[2016-06-21 08:49] mrbiggfoot commented on #474
Ok, that's an immediate question that I have:
Say, "foo.cc" includes "foo.h". When I open "foo.cc" in vim, the ycmd's RSS usage is around 750Mb. Now, I open "foo.h" in the same session, without closing "foo.cc". The RSS usage suddenly becomes 1.5Gb! But shouldn't "foo.h" have been parsed earlier, when YCM was processing "foo.cc"? If I understand correctly, the symbol table for "foo.h" should have

[2016-06-21 18:59] Valloric commented on #474
If you're pulling in lots of boost headers plus the pb.h headers that are generated from protocol buffers, your C++ translation unit is going to be huge. The memory usage comes from the cached ASTs in clang.

We can't really do anything about that. We have [a pending PR](https://github.com/Valloric/ycmd/pull/475) that reduces memory usage, but that should only help with the identifier completer an

[2016-06-21 19:32] mrbiggfoot commented on #474
@Valloric thanks for the response. What about the issue I described in my previous comment, about opening a header file that is already included in the opened source file? Is it not a bug?

[2016-06-21 23:02] Valloric commented on #474
Those are separate translation units. You're confusing files and TUs. They're not the same.

[2016-06-26 11:45] micbou commented on #501
As suggested by @ptrv, open an issue on [emacs-ycmd repository](https://github.com/abingham/emacs-ycmd).

[2016-06-26 11:45] #501 closed

[2016-06-26 18:48] mrbiggfoot commented on #474
@Valloric is there a way to show the amount of memory allocated by ycmd for each file? Here I mean file, not TU. Or maybe some approximation? I want to see what are the problematic includes that cause the memory bloat.

[2016-06-26 19:36] puremourning commented on #474
libclang does have some resource monitoring APIs, though none of them are exposed by ycmd, and they are almost certainly at the TU level.

Take a look at this: http://clang.llvm.org/doxygen/group__CINDEX__TRANSLATION__UNIT.html#gaacd1a1e9d83aaeec6b800e701b3a53f5 and related.

[2016-06-28 17:53] jojojames opened #534 "Code Completion for IOS project."
I'm trying to set up ycmd with completions for objective-c/iOS based from an xcode project. Semantic completions don't seem to be working.

I've set up a sample project here.
https://github.com/jojojames/DummyXcode

.ycm_extra_conf located here
https://github.com/jojojames/DummyXcode/blob/master/.ycm_extra_conf.py

compile_commands.json here
https://github.com/jojojames/DummyXcode/blob/master/comp

[2016-06-28 23:46] puremourning commented on #534
Thanks for the detailed report. can you grab the output of :YcmDebugInfo? Also, what is the output of :YcmDiags?

Ultimately, the set of flags passed to libclang means that it can't parse your files correctly. Either your extra conf is passing the wrong flags, or there is some other issue. Usually it is the former, though it looks like you're using a compilation database, so it could be that we ne

[2016-06-29 00:05] jojojames commented on #534
I'm using emacs-ycmd as a frontend for ycmd.

I tried opening the file in vim but got 'Native filetype completion not supported for current file, cannot force recompilation.' Might be something with my config for vim (haven't touched vim in a while).

Here's some debug info (just hunted around for some debug command `ycmd-show-debug-info'.
ycmd debug information for buffer AppDelegate.m in objc-mo

[2016-07-03 17:22] hydrargyrum opened #536 "ycmd should return valid JSON instead of empty HTML for 2 requests"
/load_extra_conf_file and /ignore_extra_conf_file requests currently return an empty body
in case of success, which is not valid JSON. Instead, ycmd should return valid JSON body, for example just "true".

[2016-07-03 17:27] puremourning commented on #536
Please can you explain why you believe this change is necessary and generally useful? Is it causing you a problem?

FWIW we have some in-progress API documentation here: http://puremourning.github.io/ycmd-1/

[2016-07-03 17:44] hydrargyrum commented on #536
Well, if ycmd wants to have a clean and consistent API, then all replies should follow some kind of rule. Considering almost all replies already are in JSON format, even errors, it may not be unreasonable to think that ALL replies should be JSON.
Even the documentation link *you* gave says the results of the request should be JSON :)
Allowing YCM clients to assume all ycmd replies are in the same

[2016-07-03 17:52] puremourning commented on #536
Nobody is going to deny the "cleanliness of API" argument. I was just curious as to whether there was a more pressing reason to make a (potentially breaking) API change (such as you're trying to do X and Y is not working). Changing the API for cosmetic reasons is hard to justify :/

IIRC this has come up before, though I forget the context.

[2016-07-03 18:47] puremourning commented on #534
I was able to determine that the flag which causes `libclang` to barf is `-MT dependencies`.

I discovered this by trial and error, by manually setting flags in `.ycm_extra_conf.py`.

The net result is that I now get the "Could not build module 'UIKit'" error which you also reported to tags. I don't know how you solved that, so I can't really progress (modules are a dark magic to me), but I think

[2016-07-03 18:59] vheon commented on #536
The change we're talking about is really simple https://github.com/vheon/ycmd/commit/17cf01a9ee911189d1b9c5aaf99a230b1d8d35f4. So we only need to decide if it really makes sense.

[2016-07-03 19:01] jojojames commented on #534
Seems Rtags blacklists -MT also.

https://github.com/Andersbakken/rtags/commit/23c6c00fc70e6fa2b314e243cc75c9546a3c7e5f

[2016-07-03 19:01] vheon commented on #534
@puremourning I believed we already put `-MT` to the blacklist 😕

[2016-07-03 19:02] vheon commented on #534
https://github.com/Valloric/ycmd/blob/master/ycmd/completers/cpp/flags.py#L46

[2016-07-03 19:04] vheon commented on #474
Since #475 was merged I think this issue can be closed.

[2016-07-03 19:04] #474 closed

[2016-07-03 19:08] puremourning commented on #534
@vheon you're quite right.

And it is broken somehow.

[code]

It removed `-MT` but not `dependencies`.

[2016-07-03 19:09] vheon commented on #534
@puremourning will you look into it? or should I?

[2016-07-03 19:09] puremourning commented on #534
I'll take a look now.

[2016-07-03 19:22] puremourning commented on #534
OK i see the problem.

`-MD` and `-MMD` are don't take a file argument, but we have said they do, which leads to malformed flag lists.

I'll prep a PR.

[2016-07-04 04:35] Valloric commented on #536
I'm not against this change. I can't see how it would be backwards incompatible; we weren't returning anything in the body before and I can't imagine how any client would break if the body they were ignoring before suddenly starting having content. The only thing clients did up to now is look at the status code.

So IMO this should be fine. We can just make these handlers return `{}` and be done w

[2016-07-04 07:33] r4nt commented on #534
Having a left-over 'dependencies' in there would make it barf. The question is why you need to blacklist -MT (I see no reason why, as with -fsyntax-only the dep file will not be written anyway)

[2016-07-05 22:20] quicknir commented on #86
@ivankoster Just happened to come across this. Fwiw I have rtags setup and it handles this sort of thing perfectly. I've recently discovered ycmd is quite a bit faster for functionality that relates to the current TU; i.e. autocompletion + flycheck. rtags however has an excellent database, and does go to definition, find references, inheritance hierarchies, etc, quickly and accurately.

The nice t

[2016-07-05 23:54] quicknir opened #538 "ycmd insists I'm not using exceptions"
I'm using ycmd through emacs, with flycheck integration. In the error list, I continually get errors "cannot use throw with exceptions disabled", "cannot use try with exceptions disabled". I'm using a compilation database, plus system paths as my flags. I certainly am not specify -fnoexceptions. I even tried to fight this error by explicitly adding -fexceptions. When I show the debug info for ycmd

[2016-07-06 00:38] micbou commented on #538
Could you try with the latest pre-built Clang binaries (`./build.py --clang-completer` will do it automatically for you) and report back?

[2016-07-06 07:16] puremourning commented on #538
You have '-x c'. C didn't support exceptions last time I checked. You need to tell clang you are compiling c++

[2016-07-06 14:06] quicknir commented on #538
@micbou Are you talking about upgrading the version of clang that ycmd calls to, or the version of clang that ycmd is built against? Neither of these are very easy to upgrade in my particular case; do you have a concrete reason to think that will improve things?

@puremourning C doesn't support about a million things that C++ does, last time I checked, yet I'm not getting any of those other errors

[2016-07-06 14:12] puremourning commented on #538
Ah then we are guessing c from the compiler invocation. (There is some heuristic in there.) If you change the invocation to clang++ in compile commands does it work?

[2016-07-06 14:14] puremourning commented on #538
Regarding clang version. We only support the version of clang downloaded by build.py. You seem to have quite an older version (maybe you are using --system-libclang?)

We are referring to the version ycmd liked against and run against.

[2016-07-06 14:21] quicknir commented on #538
@puremourning very interestingly, changing the `c` to `c++` fixes it! I have no real explanation for the overall behavior. I tested this by just manually changing the ycmd code to replace flags[1] with "c++". Also, as you predict, changing the compile_commands.json invocation from clang to clang++ fixes it as well.

It seems though that in this case the heuristic is not really accurate, in the sen

[2016-07-06 14:22] quicknir commented on #538
@puremourning btw my clang version is 3.6.1, I cannot easily upgrade the version of clang for various reasons.

[2016-07-06 14:29] micbou commented on #538
You should do this in your `.ycm_extra_conf.py` file and the heuristic is fine: the correct compiler for C++ sources is `clang++`, not `clang`. Something is wrong with the generation of your `compile_commands.json` file. Anyway, the issue seems to be resolved so I am closing it.

[2016-07-06 14:48] quicknir commented on #538
@micbou Nothing is wrong with my compile_commands.json, and the heuristic is wrong. The only difference between clang and clang++ is which standard library they link against: http://stackoverflow.com/questions/20047218/what-is-the-difference-clang-clang-std-c11. But here, I am not linking: all of the commands in compile_commands.json are with the -c flags, as they are building specific translation

[2016-07-06 15:07] micbou commented on #538
Looking for the value of the `-std` flag then fallback to the name of the compiler if there is no `-std` flag would probably be a better heuristic to determine the `-x` flag. Reopening.

[2016-07-06 15:13] quicknir commented on #538
@micbou I read a little more about this, info on this is actually a bit contradictory, but it seems like it's the extension that drives the heuristic, the -std flag will only be applied if appropriate. The best quote I've found on this topic is from a clang dev post:

"-lc++" (for libc++) or "-lstdc++" (for libstdc++) to it ("-x c++" is optional if the source file
is recognized (using its extensio

[2016-07-06 15:58] quicknir commented on #538
The rabbit hole gets deeper. Regardless of which of the two techniques I use to fix this, flycheck seems to get completely disabled as a result. That is no matter what I type, no errors are triggered, even though auto completion works. So I'm actually not sure if the fix had anything to do with anything. Because again, I was never able to see errors for anything other than exceptions, even though

[2016-07-06 16:31] quicknir commented on #538
Okay, I discovered the issue. It seems like when C++ mode was added, some flags that were being ignored before were activated. In particular, -Wextra was generating an enormous amount of errors from my header files. It seems like ycmd places a limit on how many errors it will send back, so the net effect was to completely prevent any errors from being flagged in the source file I was working.

So

[2016-07-06 16:40] puremourning commented on #538
I'm not aware of any artificial limit on the number of diags returned _by ycmd_. However, if clang can't parse your file well enough (e.g. it hits too many internally), it _might_ not produce any.  We know that it can be very slow if it can't generate a PCH due to errors.

Can you find the result of (the emacs equivalent of) `:YcmDiags` ? In Vim this command returns the full list of diagnostics. I

[2016-07-07 09:04] eschao opened #540 "How do I set .ycm_extra_conf.py to support MacOS App"
I'm trying to program mac app with YCMD and spacemacs. Previously my configuration can work for my iOS app, that means I can get completion for iOS functions. But for MacOS, the first **'#import \<Cocoa/Cocoa.h\>**' is error reported by YCMD, which says 'Cococa/Cocoa.h' file not found. Here is my part of .ycm_extra_conf.py:

[code]
I don't know what's wrong with my configuration, How could I do it

[2016-07-07 09:54] puremourning commented on #540
I'm not sure that you can have 2 -isysroots

Try removing this?

[code]

Anyway, this is really a question about what flags you need to make a macOS project compile under clang, not a ycmd issue, so i'm closing it.

If you need more advice, please check [CONTRIBUTING.md](https://github.com/Valloric/ycmd/blob/master/CONTRIBUTING.md) which says where to seek it.

[2016-07-07 09:54] #540 closed

[2016-07-07 11:23] micbou commented on #538
In our case, we can't completely rely on the extension because of headers: it is not uncommon to use the `.h` extension for C++ headers. If we deduce the language mode from the extension, it could lead to the situation where some files are compiled in C++ while others in C and we clearly don't want that. So I still think that looking at the `-std` flag is a good addition to the current behavior.

[2016-07-07 15:11] quicknir commented on #538
@puremourning I'm not sure what ycmdiags does, but I found a log file in emacs. It shows the exact json being sent back and forth. So I can clearly see that many many errors get sent back from the server, it's just that they were all in header files, and then it's stop sending errors. As soon as I e.g. comment out the header files it finds errors in the current file (a huge pile since there's no h

[2016-07-12 13:59] ptrv opened #541 "Why is clang_completer requesting `unloaded_buffer` key in OnBufferUnload"
Would it be possible to just reuse `filepath` in `OnBufferUnload` in `clang_completer` instead of having to specify `unloaded_buffer`. The typescript completer is already using `filepath`. It would be nice to align both.

[2016-07-12 15:06] micbou commented on #541
This is a bug in the TypeScript completer. It should use `unloaded_buffer` instead of `filepath` because a buffer can be unloaded while not being the current buffer. I'll send a PR to fix this.

[2016-07-12 15:26] ptrv commented on #541
Ok I see. Thanks for clarifying. We have a pull request regading adding `BufferVisit` and `BufferUnload` in `emacs-ycmd` which brought up this.

[2016-07-12 16:19] ehzShelter opened #543 "Update package.json ...ycmd/third_party/tern_runtime/package.json"
This tool is indispensable for **JS/node autocomplete**

The latest version of **tern.js is 0.19**

[2016-07-12 19:22] micbou commented on #543
Thanks for telling us. I've sent a PR to update Tern.

[2016-07-13 06:50] ehzShelter commented on #543
:+1:

[2016-07-13 16:35] #543 closed

[2016-07-15 23:38] quicknir opened #546 "ycmd does not pass on many fixits"
I'm finding that ycmd occasionally suggests fixits for things like missing semi-colons, but for many other things it does not suggest a fixit even though clang does. For instance, if I write `std::strng x;`, when compiling in clang it offers the correction to `string`, but ycmd does not offer this fixit. Is this a bug with ycmd, something wrong with my setup, or is the fixit feature constrained so

[2016-07-16 00:41] Valloric commented on #546
@puremourning You'd probably know best.

[2016-07-16 01:38] puremourning commented on #546
Can you check you are on the latest commit? We recently (like last week) merged a change which reports FixIts for notes, which should include typo correction (which is the type of case to which you are referring as I understand it)

It is also possible that your client doesn't handle multiple fix it options. Which client are you using ?

[2016-07-16 01:45] puremourning commented on #546
Just as

[2016-07-16 15:05] quicknir commented on #546
@puremourning I'm not exactly sure about being on the latest commit, the ycmd I use is built by someone else and distributed. The build is dated June 11 but I'm not necessarily sure whether they pulled that day. Is there some way I could tell from the released build whether that commit has been included?

I'm using the emacs-ycmd client. I'm not sure what you mean by multiple fixit options; I type

[2016-07-16 15:06] micbou commented on #546
@quicknir Could you provide the link to the build?

[2016-07-16 15:18] quicknir commented on #546
@micbou Sorry I should have been more clear. We have a sort of package manager where I work so developers can install things easily without needing root. ycmd is available through that package manager. So I'm afraid I can't provide the link. If you can tell me the commit hash that adds multiple fixits I can ask the guy who's in charge of it, or if there's another way to tell from the built project

[2016-07-16 15:20] micbou commented on #546
It's this commit: cc87a9c5fc659f488879c3cb5bce090a966cbb70

[2016-07-16 15:41] puremourning commented on #546
In fact, it doesn't look like typo correction is kicking in in the following test case:

[code]

Diags reported:

[code]

And `:YcmShowDetailedDiagnostic`:

[code]

So, `libclang` isn't reporting a note or a FixIt (therefore there isn't much we can do).

Just to be sure, I checked and it is not related to the `Incomplete` flag that we use.

Maybe @r4nt or @d0k know if libclang would be expected to

[2016-07-16 16:47] puremourning commented on #546
Ahah. You need to add `-fspell-checking` to your flags to enable this.

![ycm-fixit-spell-check](https://cloud.githubusercontent.com/assets/10584846/16895966/6480ece6-4b7d-11e6-893d-42000b83b408.gif)

[2016-07-16 16:48] #546 closed

[2016-07-16 17:02] puremourning commented on #538
Leaving this here for future reference: libclang has an API to determine if a Location (such as that associated with a diagnostic) is from the "main file" related to a TU: [`clang_Location_IsFromMainFile`](http://clang.llvm.org/doxygen/group__CINDEX__LOCATIONS.html#gacb4ca7b858d66f0205797ae84cc4e8f2)

In theory we could suppress any errors for which that is not true. Personally, I would resist thi

[2016-07-16 17:03] puremourning commented on #538
FWIW: I think that's an issue related to your client. The Vim client certainly does display them.

[2016-07-16 18:43] puremourning commented on #474
@mrbiggfoot I have pushed [a branch `resource-usage`](https://github.com/puremourning/ycmd-1/tree/resource-usage-monitor) to my fork which reports the resource usage information from libclang (as linked above) when you run `:YcmDebugInfo`. Would you mind trying out on the files you're having problems with? Of course if the libclang memory usage report is sane, then it could be a ycmd issue (though

[2016-07-16 20:51] Valloric commented on #546
@puremourning Do we perhaps want to pass that by default? Something to consider.

[2016-07-16 20:54] puremourning commented on #546
I was considering it.

The slight con is that typo correction is guesswork, whereas FixIts are generally not going to change the semantics of your program. I guess I sort of ignored that for fixits on notes, principally because there are usually multiple options. In this case, the user doesn't get a "choice", but it is clear in the diagnostic message "; Did you mean 'string'?" So we are probably g

[2016-07-16 20:57] Valloric commented on #546
Seems like a plan; let's turn it on always. We already add some flags by default so it's not without precedent.

[2016-07-16 21:37] puremourning commented on #546
PR on its way to fix this and the other bug we had recently with flags (to do with the preprocessor flags: https://github.com/Valloric/ycmd/issues/534).

Happy to do them together? They're really closely related.

[2016-07-17 01:38] Valloric commented on #546
Sure. :)

[2016-07-17 16:14] mrbiggfoot commented on #474
@puremourning, thanks! Here's one example of the problematic memory usage (I modified some personal info such as file names):

[code]

Just for completeness, here's the "top" output on these files:
[code]

I'm not quite sure how to interpret these numbers, but if I naively add the numbers after the word "using", I get 880M. Does it mean that YCM overhead is ~140%?

Unfortunately I can't reproduce

[2016-07-17 16:21] mrbiggfoot commented on #474
It just crossed my mind that most probably YcmDebugInfo reports virtual memory usage. If that's the case, my comment about 140% overhead is silly (I was comparing against physical memory usage).

[2016-07-17 21:19] quicknir commented on #546
@puremourning Very cool, that makes it work for me, thanks for the fix. As always, thanks to all of you guys, ycmd is just amazing. I'm using Spacemacs w/ rtags and ycmd, and the auto completion, and especially flycheck is superior to anything that any Linux IDE provides; definitely the killer feature of my setup.

[2016-07-18 11:02] dgel commented on #474
@mrbiggfoot I'm not sure about what might actually cause your issues, but as regards the >7G memory usage, it could be that part of this is caused by the memory reduction in newer versions of ycmd.

I think the total memory usage is not so interesting here as the scaling behaviour.. `bar.cc` includes `foo.h` in your example? How does opening only `bar.cc` compare in memory usage to opening both `b

[2016-07-18 12:19] mrbiggfoot commented on #474
@dgel:
1. both ```bar.cc``` and ```baz.cc``` include ```foo.h```.
2. Here's the output after opening only ```bar.cc```:
[code]
[code]

Here's the output after opening ```bar.cc``` and ```foo.h```:
[code]
[code]

[2016-07-18 18:29] mathieulongtin opened #552 "Compilation error since latest boost update"
I get these errors on the current master. I compiled successfully with 4268395ea11e92c8a7187e3960a1cbd6b74dace3. I chose this commit as it was just before the update to boost 1.61, however it might be something else entirely.

[code]

[2016-07-18 20:25] Valloric commented on #552
Our build bots are building ycmd just fine, so this must be specific to your system somehow. Possibly GCC is too old.

[2016-07-18 20:54] aliceriot opened #553 "bump tern version to 0.19"
0.19 has some good stability and usability increases over 0.17.

Would you accept a trivial PR that bumps the ternjs version?

[2016-07-18 21:10] Valloric commented on #553
If all tests pass, sure! :)

[2016-07-18 21:14] puremourning commented on #553
https://github.com/Valloric/ycmd/pull/544

Didn't we already do this?

[2016-07-18 21:14] micbou commented on #553
Already done. See PR https://github.com/Valloric/ycmd/pull/544.

[2016-07-18 21:14] #553 closed

[2016-07-18 21:14] puremourning commented on #553
Maybe we need to update the commit in YCM. But the ycmd issue can be closed.

[2016-07-18 21:16] aliceriot commented on #553
Oh! Sorry for the noise! I'm filing useless issues all over the place today. I looked at `package.json` in the version of YouCompleteMe I have cloned on my computer, but didn't check the file in this repo T_T

[2016-07-18 21:19] puremourning commented on #552
Can you post your compiler version please (and the entire output of `install.py`/`build.py`, including the invocation line).

Also, can you post your OS version? From the output it _looks like_ you're on RedHat 6. We're aware that RedHat 6's system compiler is too old to parse the current codebase, and you need to install and use the dev toolset 2 or greater (gcc 4.8).

See https://github.com/Vall

[2016-07-18 21:35] puremourning commented on #553
DOn't worry about it. Happy to help :)

[2016-07-18 22:47] #536 closed

[2016-07-19 15:55] mathieulongtin commented on #552
g++ (GCC) 4.4.7 20120313 (Red Hat 4.4.7-11)
CentOS release 6.6 (Final)

Boost says it support 4.4.7 (http://www.boost.org/users/history/version_1_61_0.html), so I don't see what the big deal is.

[2016-07-21 07:49] manishtoons opened #554 "hash mismatch while builing ycmd"
Downloading Clang 3.8.0
CMake Error at ycm/CMakeLists.txt:89 (file):
  file DOWNLOAD HASH mismatch

    for file: [~/prefs/ycmd/cpp/../clang_archives/clang+llvm-3.8.0-x86_64-linux-gnu-ubuntu-14.04.tar.xz]
      expected hash: [3120c3055ea78bbbb6848510a2af70c68538b990cb0545bac8dad01df8ff69d7]
        actual hash: [e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855]
             status

[2016-07-21 08:47] micbou commented on #554
This is a connection issue. You should try again. If it still doesn't work, you can directly download [the clang+llvm-3.8.0-x86_64-linux-gnu-ubuntu-14.04.tar.xz file](http://llvm.org/releases/3.8.0/clang+llvm-3.8.0-x86_64-linux-gnu-ubuntu-14.04.tar.xz), put it in the `clang_archives` folder and run again the `build.py` script.

[2016-07-21 08:47] #554 closed

[2016-07-21 15:56] dgel commented on #474
It seems odd to me that including foo.h increases the memory usage by so much when it already has been parsed due to being included in bar.cc anyway. @puremourning is this expected?

[2016-07-21 18:32] puremourning commented on #474
It is. We parse each buffer as a separate TU

[2016-07-21 20:32] ivankoster commented on #86
@quicknir Thanks, rtags was indeed on my radar too. Unfortunately I do not use a compilation database. My build system itself can output the build flags for a given file pretty quickly, so that is what i use in .ycm-extra-conf file. In the future i might look at rtags.

[2016-07-22 18:55] jojojames commented on #534
Still seeing issues completing in the dummy project.

2016-07-22 11:54:20,413 - ERROR - Exception from semantic completer (using general): Traceback (most recent call last):
  File "/Users/james/.vim/dein/repos/github.com/Valloric/YouCompleteMe/third_party/ycmd/ycmd/../ycmd/handlers.py", line 98, in GetCompletions
    .ComputeCandidates( request_data ) )
  File "/Users/james/.vim/dein/repos/github

[2016-07-24 16:39] puremourning commented on #552
If boost claim that they support your compiler and your compiler is unable to parse the code, then it is a boost issue, not a ycmd issue, so closing.

As a workaround, you can use the dev toolset 2 or later, which includes a more modern compiler or use clang.

FWIW the team are intending to drop support for compilers which don't support c++11 in the near future, so we are unlikely to invest effort

[2016-07-24 16:39] #552 closed

[2016-07-25 12:29] pass86 opened #558 "ycmd not impl shutdown?"
Executing VimLeave Auto commands for "*"
autocommand call s:OnVimLeave()

Error detected while processing function <SNR>51_OnVimLeave:
line    1:
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Users/xyz/.vim/bundle/YouCompleteMe/autoload/../python/ycm/youcompleteme.py", line 337, in OnVimLeave
    self._ShutdownServer()
  File "/Users/xyz/.vim/bundle/YouComplete

[2016-07-25 13:05] vheon commented on #558
What you're reporting is actually a YCM problem and not a ycmd bug. You probably have to run `git submodule update --init --recursive` in the YouCompleteMe directory. I'm pretty confident that this is the issue so I'm closing. If you find otherwise we can always re-open it :+1:

[2016-07-25 13:05] #558 closed

[2016-07-26 05:11] pass86 commented on #558
Fixed, thank you.

[2016-07-26 10:58] Anstow commented on #552
I am also having the same issue with Scientific Linux 6.7. (Which isn't surprising.)
g++ (GCC) 4.4.7 20120313 (Red Hat 4.4.7-17)

For reference: downgrading to ycm commit 0de1c0c (and downgrading the submodules as well) fixed this for me as I can upgrade my version of gcc.

[2016-07-27 08:53] bstaletic opened #561 "Can not link against boost_python3"
Hello,

I'm having trouble compiling using my system's boost and python3. The command I'm using to generate Makefile is `cmake . ~/.vim/pack/ycm/opt/YouCompleteMe/third_party/ycmd/cpp -DUSE_SYSTEM_BOOST=ON -DUSE_SYSTEM_LIBCLANG=ON -DUSE_PYTHON2=OFF`. The result: cmake complains it can't find boost_python3. If I ommit either `-DUSE_PYTHON2=OFF` or `-DUSE_SYSTEM_BOOST` it goes perfectly.

Cmake outp

[2016-07-27 09:38] dubnde opened #562 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x92 in position 333: invalid start byte"
I see the following error when trying completions in `c` code. This was working until I pulled latest tip last night and now it just doesn't play nicely. Using [emacs-ycmd](https://github.com/abingham/emacs-ycmd) client.

I use [intercept-build](https://pypi.python.org/pypi/scan-build) to generate the compilation database

I can still jump to definitions no problem.

The error trace follows:

[cod

[2016-07-27 09:40] puremourning commented on #561
I guess this is because of this change:

https://github.com/Valloric/ycmd/pull/537

We don't really support using system boost (there really is *no* point). Just don't supply -DUSE_SYSTEM_BOOST and you'll be fine.

[2016-07-27 09:40] #561 closed

[2016-07-27 09:42] puremourning commented on #562
Thanks for reporting. Unfortunately to debug these issues we need a reproducible test case.

If you can send the contents of your file, then that would probably work, but at least we'll need some cutdown part that includes the unicode characters which are causing the problem.

[2016-07-27 10:33] dubnde commented on #562
Sure. Thanks. Will need to reproduce it later on a small example as this happened on a sizeable commercial code base.

[2016-07-27 11:11] yan12125 commented on #561
@bstaletic How is boost built on Gentoo? Is there anything like a build script?

[2016-07-27 12:06] bstaletic commented on #561
@puremourning I know it is unsupported, I just hoped someone would take a look.
@yan12125 It done using a source based package manager named portage. It's fairly similar to Arch's abs/makepkg. It provides you USE flags you can set to enable/disable components of a package and the file portage parses is called "ebuild".

Ebuild of the gentoo's boost package can be found here:
http://data.gpo.zugain

[2016-07-27 12:09] yan12125 commented on #561
Thanks for that. I'll have to try to install a Gentoo VM first :)

[2016-07-27 13:53] dubnde commented on #562
Discarded old build. Pulled clean `ycmd `and rebuilt. Works now.

[code]

[2016-07-27 13:53] #562 closed

[2016-07-27 14:01] yan12125 commented on #561
Is there a prebuilt tarball for Gentoo? I'm too lazy to install a VM and build boost on it.

[2016-07-27 14:48] bstaletic commented on #561
Try to look for stage4 tarballs. Stage3 is the generic base system and is used for installing Gentoo. Stage4 is a completely usable system, kind of like something you get when you install distro like ubuntu.

Stage4 tarballs are not official way of installing gentoo but they are availle on some repos. I never used stage4 I did not create so I have no idea what's in those on gentoo mirrors. Also I

[2016-07-28 09:06] pass86 commented on #558
Sometimes shutdown do not finish.Python process and mono-sgen32 process is still is Activity Monitor.

Finish log
xyz-MC1:ycm_temp xyz$ tail server_60745_stderr.log
2016-07-28 16:55:42,261 - INFO - Received event notification
2016-07-28 16:55:42,266 - INFO - Received event notification
2016-07-28 16:55:42,268 - INFO - Received event notification
2016-07-28 16:55:42,270 - INFO - Received event noti

[2016-07-28 09:15] pass86 commented on #558
@app.post( '/shutdown' )
def Shutdown():
  _logger.info( 'Received shutdown request' )
  ServerShutdown()

  return _JsonResponse( True )

def ServerShutdown():
  def Terminator():
    if wsgi_server:
      wsgi_server.Shutdown()

  # Use a separate thread to let the server send the response before shutting
  # down.
  terminator = Thread( target = Terminator )
  terminator.daemon = True
  termina

[2016-07-28 09:19] pass86 commented on #558
handlers.wsgi_server = StoppableWSGIServer( handlers.app,
                                              host = args.host,
                                              port = args.port,
                                              threads = 30 )
  handlers.wsgi_server.Run()

[2016-07-28 15:41] ashb commented on #428
If anyone else has hit this and want's to know how to get around it relatively cleanly:

[code]

If you are pulling in ycmd from a clean YouCompleteMe then you'd first need to update the ycmd:

[code]

[2016-07-28 17:27] yan12125 commented on #561
Finally built boost with Python 3.5. There's only ```/usr/lib64/libboost_python-3.5.so```. Does ycmd work with system boost and Python 3 before 9b51b397d4ee595e7179f2f3d98820a54139bfc7?

I guess the cause is that the ebuild file passes ```--python-buildid``` flag to boost. The result is that the Boost.Python library can have an arbitrary name. I guess Gentoo instead of ycmd should solve this probl

[2016-07-30 20:54] puremourning commented on #53
Is this still a problem? We fixed a *lot* of unicode problems this year.

[2016-07-30 21:26] dubnde commented on #562
Problem again. This looks to be related to the setting `(setq ycmd-force-semantic-completion t)`. Not exactly sure why I had it set in the first place. Got rid of it.

[2016-07-31 11:45] ptrv commented on #562
I am wondering how the value of the variable `ycmd-force-semantic-completion` can be related to the unicode issue. When the variable is set to `t`, we only add `"force_semantic": true` to the request data to get semantic completion even without a semantic trigger.

[2016-08-01 15:52] pass86 opened #563 "libclang.dll Assert failed!Expression: !T->isBeingDefined() && "Cannot serialize in the middle of a type definition""
libclang.dll Assert failed!Expression: !T->isBeingDefined() && "Cannot serialize in the middle of a type definition"

Upgrade to 3.8.1?

[2016-08-01 16:52] Valloric commented on #563
Could you provide a reproducible test case?

[2016-08-01 16:53] Valloric commented on #563
Also, please don't delete our issue template, but fill it in.

[2016-08-02 08:21] micbou commented on #563
@Valloric We don't have an issue template in the ycmd repository.

@pass86 Could you update your report by following the instructions in [CONTRIBUTING.md](https://github.com/Valloric/YouCompleteMe/blob/master/CONTRIBUTING.md#writing-good-issue-reports)?

[2016-08-02 17:05] Valloric commented on #563
@micbou You'd think I'd know that... :disappointed:

[2016-08-03 02:21] jjzz commented on #53
Haven't seen explicit UnicodeEncodeError for a long time, but still some bugs in the logic.

[code]

Then, input `filename = "./` to trigger the filename completion, all 4 files are listed, and <Ctrl-n>, <Ctrl-p>, <Up>, <Down> or <Tab> could be used to selected any of them. So far so good.

Then,
- if `a` or `b` or `ab` pressed, only `abc` and `ab3` left in the popup, all files with non-ASCII char

[2016-08-03 07:57] micbou commented on #558
Could you open a new issue by following the instructions in [CONTRIBUTING.md](https://github.com/Valloric/YouCompleteMe/blob/master/CONTRIBUTING.md#writing-good-issue-reports)? Also, could you give the associated commands of these two processes? I'd like to know if the Python process is the ycmd or JediHTTP one.

Even if StoppableWSGIServer is not thread safe (which I doubt), this has nothing to d

[2016-08-03 08:14] pass86 commented on #558
Finally it quit a few minutes later, maybe it is waiting something.

[2016-08-04 06:05] ff2000 commented on #561
For me it fails to build with (system default) python-3.4 since 9b51b39, before everything was OK.
Gentoo allows parallel installation of different python3-versions (python-3.4 and python-3.5 for example). That won't change. Therefore "python3" boost module never will be found as well as "python-3".

AFAICS this commit tries to enable Distros that still use python2 as their default python implemen

[2016-08-04 07:22] puremourning commented on #561
Everyone: our advice is not to use --system-boost. Honestly as far as we know there is no good reason to do so. YCM ships a subset of boost that it uses and statically links it. That's what we test, and that's what we support.

Am I missing something? Why would you want to use an unsupported and untested option that we only had for BSD compatibility? Is there some nuance that means you need to use

[2016-08-04 08:23] ff2000 commented on #561
On Thu, 04 Aug 2016 00:22:25 -0700, Ben Jackson <notifications@github.com> wrote:

For me No.1 is build time: Boost Python is quite heavy for me, especially on Memory. I have to close my Browser Window and possibly other applications to get as much free memory as possible to avoid unnecessary swapping. If it starts swapping I have no chance to use the laptop for 15-20 minutes. (As a side-effect ru

[2016-08-04 08:26] puremourning commented on #561
Interesting. Thanks.

How often do you compile ycmd? As a dev I do it frequently, but I like to think that users do t compile it that often. ^_^

[2016-08-04 14:08] deb0ch opened #564 "Goto command going to host instead of toolchain system headers when cross-compiling"
Hi,

I'm having a bit of trouble telling ycmd that the system headers to be used are the ones of my toolchain, as `ycmd-goto` keeps bringing me to my system headers instead of my toolchain ones.

For my current example, i do it on `SIG_IGN` defined in `signum.h`, which exists both in my toolchain and my system headers.

The flags for my file are fetched from my compile_commands.json, built using `

[2016-08-04 18:48] vheon commented on #564
The fact that you're using `Bear` and a `compile_commands.json` means that you're using the exact same flags that you use to build your project, so the question is: why would you want `goto` to bring you to a different file than the one you use in your build?? 😕

[2016-08-05 02:57] yan12125 commented on #561
@ff2000 @bstaletic Seems you have enabled additional emerge keywords for boost? Are you doing the same for cmake? I'd like to know what's your cmake version.

[2016-08-05 06:47] ff2000 commented on #561
@yan12125 I have just enabled ~amd64 keyword for both boost and cmake. I run boost-1.61.0 and cmake-3.6.1.

@puremourning It's not that often, but I usually update my vim-plugins at least once a week (using junegunn/vim-plug) and I hit at least once a month a non-usable system-state because of swapping. Not building boost but using system-boost (and system-clang as it does not extract the clang-ta

[2016-08-05 07:39] puremourning commented on #561
The other option is to only recompile YCM when it tells you that you need to.

[2016-08-05 08:28] ff2000 commented on #561
On Fri, 05 Aug 2016 00:39:59 -0700, Ben Jackson <notifications@github.com> wrote:

... and still use Plug to update ycm?
That's not an option as it again might trigger rebuild requests at any point with issues like swapping or stopping running applications to free memory.
Or use a different completion engine while ycm is broken until I have time for a rebuild...

[2016-08-05 08:41] deb0ch commented on #564
This is precisely the problem, I'm cross-compiling and my host system headers are *not* used in the build, so `goto` brings me to the wrong file.

This code is supposed to run on a robot using a very different linux version from my system's.

I am using a separate toolchain for arm (my system is classical x86), so it doesnt need command line flags to use its own libc headers. That's why I need to

[2016-08-05 08:56] micbou commented on #564
Could you paste the output of the command `ycmd-show-debug-info`?

Using spaces will not work. You need to separate each part of the flags with commas e.g. `[ ... , '-gcc-toolchain', '/some/path', ... ]`

[2016-08-05 09:17] deb0ch commented on #564
[code]

[2016-08-05 09:51] micbou commented on #564
According to [this](https://developer.android.com/ndk/guides/standalone_toolchain.html#itc), you need to set the `--sysroot`, `-target`, and `-gcc-toolchain` flags. I guess in your case `-target` must be set to `armv7-none-linux-androideabi`.

[2016-08-05 10:34] yan12125 commented on #561
OK. There's also a [magic patch](http://ftp.twaren.net/Linux/Gentoo/gentoo-portage/dev-util/cmake/files/cmake-2.8.12.2-FindBoost-python.patch) in Gentoo's cmake. With that patch, ```find_package(Boost COMPONENTS python)``` finds a ```libboost_python``` version corresponding to the default Python interpreter version. It's totally Gentoo's magic, so my idea is still that Gentoo needs to be fixed.

H

[2016-08-05 11:12] micbou commented on #561
Rebuild requests? What do you mean? Most of the time, only the Python code will change when updating YCM so there is no need to rebuild anything.

[2016-08-05 12:50] vheon commented on #561
I use vim-plug as well but I rebuild only when necessary... basically I have this in my `vimrc`:

[code]

[2016-08-05 16:14] puremourning commented on #561
Nice! FAQ entry?

[2016-08-05 16:33] deb0ch commented on #564
Just tried with
[code]

same result :confused:

[2016-08-05 20:54] vheon commented on #561
I believe this is already in the vim-plug wiki, but sure we could add a FAQ entry in our doc ;) I'll see if I can do it tomorrow 👍

[2016-08-07 13:25] agauniyal opened #567 "Options file?"
Pardon my ignorance, I'm trying to build some sort of autocompletion and was looking at using ycmd as backend. I have correctly built the project and after a little while looking for a built binary, I realized I have to start `project_root/ycmd/__main__.py`, right? It requires certain arguments to be passed along with it such as `port` and `options file`.

Here is the example from the repo - https

[2016-08-07 13:27] agauniyal commented on #567
Oops - https://github.com/Valloric/ycmd#user-level-customization.

[2016-08-07 13:27] #567 closed

[2016-08-07 13:42] puremourning commented on #567
http://puremourning.github.io/ycmd-1/

Might also be useful

[2016-08-07 13:52] agauniyal commented on #567
@puremourning indeed it is. Thankyou 😄

[2016-08-07 14:03] micbou commented on #564
I downloaded and extracted [the gcc-linaro-4.9-2014.11-x86_64_arm-linux-gnueabihf.tar.xz archive](https://releases.linaro.org/14.11/components/toolchain/binaries/arm-linux-gnueabihf/) (is this the right archive to download?) and was able to jump to the right `signal.h` file by using the following `.ycm_extra_conf.py` file:
[code]
I just appended `libc`  to the `linaro` path in the `--sysroot` flag

[2016-08-07 14:51] puremourning commented on #567
No problem. Be aware that it hasn't been reviewed and isn't totally up to date, but I hope it is nonzero helpful anyway :)

[2016-08-07 19:06] agauniyal opened #568 "INFO - Dropping request with bad HMAC"
So I've tried a few things and am having difficulty understanding why this is failing. I've hardcoded most of the things, removed automated code and now I'm manually pasting the secret so I'm sure that code wasn't wrong. Probably the method of finding out hmac is wrong. Here's my somewhat commented code in js -

[code]

I run this code as `node file.js`, it gives me secret in base64 eg. `6hKuxYQY1

[2016-08-07 19:08] agauniyal commented on #568
I took that POST example from client example file's output -

[code]

[2016-08-08 15:46] #568 closed

[2016-08-09 09:22] deb0ch commented on #564
Hi Micbou,

Thanks so much for looking into my issue and actually trying that out.
I have to deal with an urgent matter at work right now, I will get back to you as soon as I'm out of the rush.

Again, thanks and see you soon ! Cheers.

[2016-08-09 10:36] ptrv opened #569 "exit code not correct if importing ycm_core in global config fails"
Hi,

I am not sure this is a real bug, but I encountered this while implementing handling of exit code in `emacs-ycmd`.

I had a `import ycm_core` in my global config. If importing fails there the line with `code = CompatibleWithCurrentCore()` in `__main__.py` will never be reached to return the correct exit code and then I just get an exit code 1.

[2016-08-09 20:29] Valloric commented on #569
Ugh, that does sound like a bug.

[2016-08-10 00:22] jojojames commented on #534
Adding some more info here. Tried comparing a global ycm file vs local and it seems like the local completes less (at first glance) than using a global config.

Adding notes to this link https://github.com/jojojames/DummyXcode/blob/master/new.org as well as pasting it below.

* without ycm config (global config)
** Log
2016-08-09 17:13:25,594 - DEBUG - Global extra conf not loaded or no function Y

[2016-08-10 08:36] ff2000 commented on #561
@vheon that's exactly what I meant with "let vim-plug update YCM and react on rebuild requests". As already stated that's not an option as I have no control over when the rebuild has to happen.

@yan12125 You can open issues on https://bugs.gentoo.org

I had another look at boost/cmake and tried to get what can be expected. I am no expert and can only try to understand what happens.
* FindBoost.cm

[2016-08-10 12:16] yan12125 commented on #561
@ff2000 You're right Boost.Python + CMake is messy. I think it's Boost that should be fixed instead of CMake. Proposed at boostorg/python#82.

[2016-08-10 15:11] deb0ch commented on #564
Hi,

I just tried your example and it works.

I tried again in my project, adding only the `--sysroot=/opt/arm-2014.11-linaro/arm-linux-gnueabihf/libc/` flag to my compilation flags and `ycmd-goto` brought me to the correct header file from my toolchain.

I don't know what exactly went wrong in my previous tries. Maybe I did not provide the correct flag (`-sysroot` instead of `--sysroot`, maybe th

[2016-08-11 12:52] ff2000 commented on #561
@yan12125 Thx for the links and your report. Let's see how this all turns out, the PR at CMake got closed for now...

[2016-08-15 15:19] pramodhegde opened #574 "Frequent "Connection refused" errors from the HTTP server"

[2016-08-15 15:21] pramodhegde commented on #574
Log says:
[code]

Seems to occur when the codebase tends to be a tad large.

[2016-08-15 15:59] micbou commented on #574
Please, open the issue on [the YouCompleteMe repository](https://github.com/Valloric/YouCompleteMe) by following the instructions in [CONTRIBUTING.md](https://github.com/Valloric/YouCompleteMe/blob/master/CONTRIBUTING.md).

[2016-08-15 15:59] #574 closed

[2016-08-15 20:59] micbou commented on #563
No answer. Closing.

[2016-08-15 20:59] #563 closed

[2016-08-15 21:49] micbou commented on #564
Do you think it would be worth adding a line or a reference to this issue to the documentation for people in my case ?

I don't think that's necessary. Users will search the issue tracker and find your report. In fact, they can already find it on Google.

As those flags are not relevant for parsing anyways, do you think it would be a good idea to filter them out from inside ycmd ?

If we are sure

[2016-08-15 21:49] #564 closed

[2016-08-26 20:16] LukeMauldin opened #582 "Clang Compliation Database Windows"
I have attached a simple test application.  It uses clang-cl from the LLVM distro and Ninja to build C++ on Windows.  I have installed the latest ycmd integration with Vim.  You can see the debug information below.  It looks like the .ycm_extra_conf.py is getting confused when reading the compile database on Windows.  As a result, auto complete and syntax checking isn't working.  If you look at th

[2016-08-26 20:26] micbou commented on #582
I don't see the link.

[2016-08-26 20:37] LukeMauldin commented on #582
[CmakeCpp.zip](https://github.com/Valloric/ycmd/files/440104/CmakeCpp.zip)

See attached

[2016-08-28 04:11] vxe opened #584 "Document that xz is dependency for compiling Clang completion on Fedora 23"
eg build.py --all fails until I ran a

[code]

or if starting from fresh install:
https://github.com/Valloric/ycmd/pull/583

[2016-08-28 06:31] micbou commented on #584
See comment https://github.com/Valloric/ycmd/pull/583#issuecomment-242959017.

[2016-08-28 06:31] #584 closed

[2016-08-29 16:47] LuisAlejandro opened #586 "Go completer has dependencies on outdated fork and crashes"
So, ycmd uses `https://github.com/Manishearth/godef.git` as a submodule for building the go completer but that fork is outdated, causing the following error:

[code]
Upon further inspection, such fork depends on a `types.GoPath` variable which is no longer set by one of its dependencies (https://github.com/rogpeppe/godef/commit/21b69deed6a2824382d921b39b26922dca82dfa4).

Hope you can fix this. Let

[2016-08-29 17:11] micbou commented on #586
Thanks for the report. @Manishearth is maintaining the fork so we need to wait for him to update it and then we'll update the submodule.

[2016-08-29 17:16] Manishearth commented on #586
That's not right. We don't depend on rogpeppe/godef, all dependencies are in-tree with paths rewritten, precisely to avoid this issue.

https://github.com/Manishearth/godef/blob/ycmd_compat/go_local/types/types.go

[2016-08-29 17:32] LuisAlejandro commented on #586
@Manishearth Well, then ymcd's submodule is not pointing to the right branch https://github.com/Valloric/ycmd/blob/master/.gitmodules#L28

[2016-08-29 17:38] LuisAlejandro commented on #586
Wait, no ... there's something wrong on my side. Let me take a look and I'll report back.

[2016-08-29 17:52] LuisAlejandro commented on #586
I'm sorry, i ran `git submodule update --init --recursive --remote`, which made every submodule to sync into different hashes. I'll close this issue.

[2016-08-29 17:53] #586 closed

[2016-08-29 17:56] vheon commented on #586
@Manishearth while we're on the subject, since the original project does support the json output now (IIRC that was the reason for using a fork), are there any reasons why we're not using the original project?

[2016-08-29 18:09] Manishearth commented on #586
That was only part of the reason for using a fork, the other reason is that that project can't be built in-tree.

Go has two mutually-exclusive modes of referring to package deps. Either you use `github.com/foo/bar` deps, or you use path deps. If you are a `github.com` package, even if you have sub-packages in folders locally, you *have* to refer to them as `github.com/user/repo/subpackagefolder`.

[2016-08-29 22:33] vheon commented on #586
@Manishearth thanks for the explanation. Has been a while since I coded with `go` and I didn't thought of those detailed 😒  A over engineered solution could be to add upstream `godef` as a submodule and write a little go program that parses the `godef` and rewrite the imports so when we build ycmd with `go` support it would run and patch `godef` as we like, but I don't think that we want to go the

[2016-08-29 22:33] vheon commented on #586
@Manishearth thanks for the explanation. Has been a while since I coded with `go` and I didn't thought of those detailed 😒  A over engineered solution could be to add upstream `godef` as a submodule and write a little go program that parses the `godef` and rewrite the imports so when we build ycmd with `go` support it would run and patch `godef` as we like, but I don't think that we want to go the

[2016-08-29 22:34] vheon commented on #586
@Manishearth thanks for the explanation. Has been a while since I coded with `go` and I didn't thought of those detailed 😒  A over engineered solution could be to add upstream `godef` as a submodule and write a little go program that parses the `godef` and rewrite the imports so when we build ycmd with `go` support it would run and patch `godef` as we like, but I don't think that we want to go the

[2016-08-31 00:11] malreynolds opened #587 "YouCompleteMe unavailable: requires Vim compiled with Python 2.x support"
Hi,

It is my understanding that I should be able to run YouCompleteMe from Vim with python3 support.

`vim --version` output contains `-python` and `+python3`.

Output from `:echo has('python') || has('python3').` is `1`.

The module builds successfully by running `./install.py --clang-completer`, but once I startup vim, I get the following warning:

Am I misunderstanding the docs or is this a bu

[2016-08-31 08:26] vheon commented on #587
First of all this looks like a problem you have with YouCompleteMe and not with ycmd. If the title is the error you get it then it means that you have a very old version of YouCompleteMe, because as you could see in the code https://github.com/Valloric/YouCompleteMe/blob/master/plugin/youcompleteme.vim#L36-L40 the message is different in the latest version.

[2016-08-31 08:26] #587 closed

[2016-09-06 20:56] romix opened #593 "Support for Language Server protocol announced by Microsoft, Red Hat and others"
Microsoft, Red Hat and other have announces a Language Server protocol, which serves essentially the same role as the YCMD protocol:
https://github.com/Microsoft/language-server-protocol

This protocol is supported by Visual Studio Code, Eclipse and some other editors. It has good chances to become a de-facto standard for this kind of tasks.

Here is an example of integration with Eclipse Che:
htt

[2016-09-07 09:49] micbou commented on #593
Duplicate of #515.

[2016-09-07 09:49] #593 closed

[2016-09-07 14:40] romix commented on #515
Apparently, YCMD is probably a single tool that provides Clang-based auto-completion using a server for it. If it would implement this protocol, a number of editors could immediately benefit from it. E.g. Eclipse CDT (C/C++ Development Tooling) could make use of this feature, which is more powerful and usable than their built-in auto-completion.

[2016-09-07 16:41] romix commented on #515
Visual Studio Code and Atom would be two other interesting editors, who could make use of this feature. Combined with Eclipse, it makes a pretty interesting set of editors with a pretty broad user base.

I don't see any reason to ignore this possibility of extending YCMD users base, if adding a support for the Language Server Protocol would be probably almost as easy as providing a new skin for th

[2016-09-10 14:37] #421 closed

[2016-09-11 21:05] aaronjensen opened #597 "Backend for flow"
Like typescript, [flow](https://flowtype.org/) has a completion server. It'd be nice to have a backend for flow.

[2016-09-12 00:02] aaronjensen commented on #597
It is a static type checker, but it also has an autocomplete capability:

[code]

Here's a company backend for it: https://github.com/aaronjensen/company-flow/

[2016-09-12 09:33] zijianyue opened #599 "ycmd sometimes crash and report :ycm_core library compiled for Python 2 but loaded in Python 3"
I build ycmd in below method, and use it in emacs with emacs-ycmd. I'm on win7 64bit, I've uninstalled python3 ,but this issue still exist.Please help.

D:\ycmd-master>python build.py --all
Searching Python 2.7 libraries...
Found Python library: C:\Python27\libs\python27.lib
Found Python headers folder: C:\Python27\include
-- The C compiler identification is MSVC 19.0.23026.0
-- The CXX compiler i

[2016-09-12 09:33] vheon commented on #597
Ok, so is not a programming language but rather a tool for javascript, but for javascript we already use [Tern.js](https://github.com/ternjs/tern). Is this better than Tern in some way? Can you present the benefits of using this instead of Tern?

[2016-09-12 10:07] micbou commented on #599
What is the value of the `ycmd-server-command` option in your emacs configuration? Do you have more than one Python 2 installed on your machine?

[2016-09-12 10:29] aaronjensen commented on #597
Flow is capable of very deep type inspection just like typescript. Unlike tern, you cannot just use it on any project, the project must be configured for flow. If it is then you can get auto completion like typescript, that is, like a static language.

To be succinct, flow provides the same benefits as typescript but with annotations and an annotation stripper rather than a different language and

[2016-09-12 11:48] zijianyue commented on #599
ycmd-server-command : ("c:/python27/python" "-u" "D:/ycmd-master/ycmd/")
Maybe the python in cygwin make ycmd confuse....
But when I build ycmd ,it got the right path of my python 2.7.10.
Hope ycmd more stable.

[2016-09-12 14:26] micbou commented on #599
Go to the `ycmd` folder, start the Python interpreter and type the command:
[code]
If you get an error, paste its output.

[2016-09-13 01:49] zijianyue commented on #599
It seems no error.
D:\>cd ycmd-master

D:\ycmd-master>python
Python 2.7.10 (default, May 23 2015, 09:40:32) [MSC v.1500 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.

[2016-09-13 03:31] shahril96 opened #600 "Update Jedi to a recent version"
There is a new version (Release 0.10.0) right now :

[https://github.com/davidhalter/jedi/issues/740](https://github.com/davidhalter/jedi/issues/740)
[https://github.com/davidhalter/jedi/blob/master/CHANGELOG.rst](https://github.com/davidhalter/jedi/blob/master/CHANGELOG.rst)

[2016-09-13 03:32] shahril96 commented on #600
Well, word 'recent' is more proper here. :P

[2016-09-13 03:50] shahril96 commented on #600
Well, I just found out that Jedi submodule is not from here but in JediHTTP repo.
Sorry for that. Closing this issue now.

[2016-09-13 03:50] #600 closed

[2016-09-13 06:07] micbou commented on #599
Could you paste the full output of the `*ycmd-server*` buffer when the error occurs?

[2016-09-13 10:07] zijianyue commented on #599
Because it did not happen after I renamed the python lib under cygwin(C:\cygwin\lib\python2.7--), so I close this issue.

[2016-09-13 15:40] zijianyue commented on #599
It occured when I use ycmd at home, below is the content of *ycmd-server*:
serving on http://127.0.0.1:13671
2016-09-13 23:14:05,825 - INFO - Received ready request
2016-09-13 23:14:05,835 - INFO - Received health request
2016-09-13 23:34:42,996 - INFO - Received event notification
2016-09-13 23:34:43,003 - INFO - Adding buffer identifiers for file: e:/projects/eNavi2_800X480_ChangeUI/Service/TG/M

[2016-09-13 19:46] micbou commented on #599
I now understand the issue. You are experiencing a libclang crash, which is not a big surprise on Windows. Try to build a testcase as minimal as you can with the least amount of flags, that consistently reproduces the crash and share it here. Ideally, it should consist of one source file with its `.ycm_extra_conf.py`.

You may wonder why the error message you get is totally unrelated to the issue.

[2016-09-14 07:54] zijianyue commented on #599
OK, I'll try to reproduce it with a minimal case.

[2016-09-18 01:01] comicfans commented on #582
[this](https://github.com/Valloric/ycmd/pull/602) may helps

1. you need to add --driver-mode=cl
2. ycmd needs a little modify (see link)
3. windows style path separator needs to be '////' , not '//'. your YcmDebugInfo shows that C:UserslukemDocumentsVisual Studio 2015ProjectsCmakeCppsrcEmployee.cpp  is not correct

[2016-09-18 07:17] comicfans opened #604 "allow to use different clang_includes path"
Currently flags.py always adds -resource-dir to clang_includes which ycm_core in, but external libclang  may needs different version headers with ones came from ycmd

[2016-09-18 08:08] micbou commented on #604
We don't support the use of an external libclang.

[2016-09-18 08:08] #604 closed

[2016-09-19 03:00] Qusic opened #605 "`working_dir` is ignored in tern completer"
https://github.com/Valloric/ycmd/blob/master/ycmd/completers/javascript/tern_completer.py#L142

This is called on the event `OnFileReadyToParse` but it searches for tern project file in `os.getcwd()` instead of `working_dir` parameter provided by clients.

And it's better if it can even handle the changes of `working_dir`.

[2016-09-19 08:04] puremourning commented on #605
Please can you give a description of the actual problem you are seeing and a list of steps to reproduce? We recently made changes in this area and the way it handles this is quite precise due to the behaviour of tern server.

[2016-09-19 11:26] Qusic commented on #605
The problem is that semantic completion and diagnostic display won't work when the working directory(where ycmd is launched from) is different from the actual project directory.

[2016-09-19 13:58] micbou commented on #605
The `working_dir` parameter only purpose is to set the root directory for relative paths in the filename completer when the `filepath_completion_use_working_dir` option is enabled. It should only be passed when sending a completion request.

This is intended. From the YCM documentation:

In last item, the `:YcmCompleter RestartServer` subcommand should be used instead of both subcommands. We forgo

[2016-09-19 20:19] icholy commented on #45
Visual Studio Code just got Java support and it's using it's own wrapper around JDT.

* https://github.com/gorkem/vscode-java
* https://github.com/gorkem/java-language-server
* https://github.com/Microsoft/language-server-protocol

[2016-09-19 21:51] Valloric commented on #45
@icholy That's pretty sweet, I'm all for using that java-language-server then if it ends up being fast. @vheon Mentioned in a previous comment that jdt.core might be too slow, but it's worth trying out.

[2016-09-19 21:54] icholy commented on #45
Fast enough for vs-code fast enough or us, no?

[2016-09-19 22:07] Valloric commented on #45
I don't know what their standards for speed are, I only know what ours are (and they're pretty high). I don't expect this to be slow though if they're already using it.

[2016-09-19 22:28] icholy commented on #45
I'll throw together a prototype when I have some time.

[2016-09-20 02:37] Qusic commented on #605
Ok. Thanks for explaining it. I will add commands for users to restart ycmd server and completer server in the Atom client.

[2016-09-20 02:37] #605 closed

[2016-09-20 21:10] vheon commented on #45
the thing that puzzles me here is that if you read https://github.com/gorkem/java-language-server#first-time-setup it looks like you have to basically install Eclipse 😕  But I would love to see it working 😜

[2016-09-20 22:13] Valloric commented on #45
@vheon Oh that's ridiculous.

[2016-09-20 22:41] puremourning commented on #45
Hah. Didn't eclim already solve this ?

[2016-09-20 23:16] icholy commented on #45
@puremourning I've never had a good experience with eclim

[2016-09-20 23:20] wsdjeg commented on #45
@icholy did you use javacomplete2?

[2016-09-20 23:30] icholy commented on #45
@wsdjeg no, but I think support for this protocol goes beyond java. It gives us all the vs-code back ends for free. That's a no brainer for me.

[2016-09-20 23:38] puremourning commented on #45
Eclim... Shrug. Its main problem is that it relies on eclipse (I realise that is the point)...  I use it and it works well, but I would rather not have to ever engage with or start eclipse. Or have to play config/project gymnastics.

Compared to YCM's other engines, it's a massive pain to set up and make work. But it sounds like this language server won't be any better. And won't be any better san

[2016-09-20 23:42] icholy commented on #45
My idea is that there is a generic language server completer. Advanced users can configure it to any compatible server they want to.

[2016-09-20 23:55] puremourning commented on #45
Ycmd architecture doesn't easily lend itself to that approach presently. Not to say it isn't a neat idea of course!

[2016-09-21 00:11] Valloric commented on #45
We're not merging anything that requires installing eclipse. That's just not happening. So no need to worry.

Unless a specific use-case is being addressed, I don't see this being widely useful enough to be implemented.

Any java backend will need to be as easy to configure as the rest of YCM. We don't even like having the `ycm_extra_conf.py` stuff for C-family projects and we _really_ don't like

[2016-09-21 07:07] agauniyal opened #606 "GetType eats up lots of memory"
It doesn't depends on which editor I use, vim, nvim or vscode... whenever a call is made for GetType, the memory consumption increases by `~.4%`. So if I've 10 variables, which for which I call GetType, it keeps on eating memory and soon the memory consumption is beyond 20% on my system and I've to restart my editor. Aaaand to make it worse, it still increases if I'm calling it on the same var eac

[2016-09-21 07:21] agauniyal commented on #606
https://sendvid.com/9wgm18l4

Latest ycm so the version of ycmd is the latest bundled with it.

[2016-09-21 07:50] puremourning commented on #606
That's worrying. We're going to need a reliably reproducible test case.

Does this also happen for any other command m, like GetParent, GetDoc, FixIt etc or is it exclusive to GetType? Does it happen for every project or is there something specific to one project?

I've never noticed this and while there is a remote possibility of a mem leak in ycmd, this is likely to be libclang AST issue.

[2016-09-21 08:03] agauniyal commented on #606
I'll do some testing with few oss projects and currently I'm building ycm with system clang too, I'll do the test without system clang version too and report back.

[2016-09-21 08:20] micbou commented on #495
@mellery451 Do you still get crashes with latest ycmd?

[2016-09-21 08:38] bstaletic commented on #606
I did a quick test with a [randomly chosen file](https://github.com/vim/vim/blob/master/src/eval.c) from vim source itself. With every call to `:YcmCompleter GetType` the memory usage increased by 2MiB. The identifier I requested the type of did not matter. I know it is hardly noticeable, but the memory leak is there. The I tried the same thing with `:YcmCompleter GetParent` and have gotten the sa

[2016-09-21 08:43] agauniyal commented on #606
I can confirm it happens with both system clang and the bundled clang which ycm downloads. I've tried in past to build it with `-O3`, so I dropped down to `-O2`, then no flags too, it happens in all cases.

Here's what I'm testing on - https://github.com/agauniyal/isaac-core/tree/develop/

[2016-09-21 08:46] agauniyal commented on #606
I've also noticed something strange, it keeps going upto 12% (out of 4GB) per file and then it kinda slows down and goes to 15%. If I open next file and begin calling again, it will readily shoot to 25% + memory...

[2016-09-21 08:50] bstaletic commented on #606
I have also tried testing on this file
[code]
Either it is not happening with such a small file or the leak is somehow related to the file size (translation unit size?) and the memory leak is just too small to notice.

[2016-09-21 08:50] puremourning commented on #606
In my fork there is a command GetTypeQuick which gets the type without reparsing. I would like to see if that has the same issue, which would tell us something about the where it happens. Anyone care to try it out? Sorry I can't at work.

[2016-09-21 08:54] agauniyal commented on #606
@puremourning I can do it, should I clone this YCM - https://github.com/puremourning/YouCompleteMe ? Or would I've to somehow replace ycmd module only..

[2016-09-21 09:02] puremourning commented on #606
Thanks.

You just want this commit. https://github.com/puremourning/ycmd-1/commit/1a572fb37a8a5b19977c9eb3c4d6c4d71b95a77b

[2016-09-21 09:09] bstaletic commented on #606
@puremourning I have tried GetTypeQuick with [puremourning/YouCompleteMe](https://github.com/puremourning/YouCOmpleteMe) and [puremourning/ycmd-1](https://github.com/puremourning/ycmd-1) which I have renamed to ycmd in the YouCompleteMe/third_party/ directory. Repeating `:YcmdCompleter GetTypeFast` on a random variable/function in [eval.c](https://github.com/vim/vim/blob/master/src/eval.c) resulte

[2016-09-21 09:18] agauniyal commented on #606
No increase in memory on my system, tried across files but ycm stays at 3.5% at all times. However I did use original ycm and ycmd, just introduced @puremourning 's commit.

[2016-09-21 09:21] bstaletic commented on #606
Alright, maybe my test was a little too short to provide a solid conclusion. I'll test a bit more and see what happens.

[2016-09-21 09:35] agauniyal commented on #606
[code]

I've interchanged these two and it works great, no more increase in memory on GetType.

However I still want to ask, how much memory does ycm usually takes per file? Is 120-150MBs allright for parsing of each file? Mine's not even a medium sized project.

[2016-09-21 09:42] bstaletic commented on #606
My previous test was too short. The difference in memory increase does not actually exist, but the memory increase is still there, no matter if I use GetType, GetTypeQuick or GetParent. I have tried more files this time and the results are the same - there is a memory increase of about 2MiB for every call to any of the three functions.

[2016-09-21 11:26] agauniyal commented on #606
It would be great if we could get `'GetTypeQuick'` inside ycmd too, then I could ask other plugin maintainers to provide a config for switching b/w these two functions for usage like GetType on hover.

[2016-09-21 15:14] mellery451 commented on #495
@micbou - I do not see the crash on exit anymore. I'm not sure exactly when this got resolved, but it seems like sometime in June/July perhaps?

[2016-09-21 19:21] vheon commented on #495
Then I think this can be closed. We can reopen it if it happens again. 👍

[2016-09-21 19:21] #495 closed

[2016-09-21 19:23] micbou commented on #495
We changed [the way the server shuts down in July](https://github.com/Valloric/ycmd/pull/282) so it could be that.

[2016-09-21 20:09] vheon commented on #45
I hope I wasn't wrong regarding installing Eclipse first 😝

That is what I hate the most of the eclim experience, even though is the only way I can actually use eclipse.

That is actually an idea that on one hand I personally like because could bring to all ycmd users other semantic engines that vs-code support that we don't (even though I'm not aware of any right now) but on the other hand I thin

[2016-09-21 20:16] icholy commented on #45
@vheon  https://github.com/Microsoft/language-server-protocol/wiki/Protocol-Implementations

[2016-09-21 22:18] konkers opened #607 "Golang completion not working."
Getting this in the standard error logs:
[code]

Based on #419 I changed to open()s to utils.OpenForStdHandle()s and it started working.  PR incomming.

[2016-09-22 13:50] micbou commented on #607
Fixed by PR #608. Thanks again.

[2016-09-22 13:50] #607 closed

[2016-09-22 19:15] puremourning commented on #606
#609 opened.

I will try and take a look at the memory issue this evening. I have a branch somewhere which reports the resource usages of the AST. Running valgrind/purify/asan on python is a bit of a pain, so i hope that shows it isn't ycmd &_&

[2016-09-22 19:58] puremourning commented on #606
I have tried to reproduce this on OS X and Linux with no success.

If I run the following a few times in vim:

[code]

The memory usage of ycmd fluctuates, but ends up exactly the same.

[code]

And the resource usage reported by `libclang` (using my branch which adds this to the `:YcmDebugInfo`) is completely stable (within a few % - `libclang` has some caches and things which fluctuate).

So...

[2016-09-22 20:19] puremourning commented on #606
Hold that thought. Using `eval.c` from Vim, i *can* repro.

However, the pattern is that the mem usage grows and grows, and then shrinks in a sawtooth pattern akin to garbage collection in many languages.

[code]

So it is not `libclang` doing this, nor is it `ycmd`'s c++ code leaking, but most likely python's internal memory management which we have little control over.

There's not much we can r

[2016-09-22 20:19] #606 closed

[2016-09-22 20:47] bstaletic commented on #606
Alright, that sounds reasonable. I wouldn't expect anyone to tackle garbage collector issues like this one, as it sounds almost like fighting windmills.

[2016-09-22 20:49] puremourning commented on #606
Heh. Totally!

[2016-09-23 00:26] Valloric commented on #606
@puremourning Nice analysis! :)

[2016-09-23 02:06] agauniyal commented on #606
I'm okay with it since we're getting `GetTypeQuick` so I'll have a choice here :)

[2016-09-23 02:08] Valloric commented on #597
Eh, I don't see much benefits of supporting both the flow completion server and tern.js. They both provide completion for javascript. I'm not sure how we would even go about supporting two backends for the same filetype.

[2016-09-23 02:12] aaronjensen commented on #597
tern has never impressed me w/ its completion, whereas flow and typescript by their nature have significantly more information about types and completions. That said, I'll stick to company-flow, thanks for considering.

[2016-09-23 02:12] #597 closed

[2016-09-24 14:43] Orgil opened #610 "ERROR - No semantic completer exists for filetypes: [u'xml']"
i've been trying to run youcompleteme on typescript. But :YcmToggleLogs reported me below. I don't know why filetype is [u'xml']. i've checked file type vim reports it typescript.
[code]
i've set ft=typescript manually then completion started working.

[2016-09-24 15:09] Orgil commented on #610
Somehow my plugins messed the file type. so closing this

[2016-09-24 15:09] #610 closed

[2016-09-27 14:30] yudengqing opened #611 "--system-libclang"
My OS is Mac OS X10.11.6, and I have installed Xcode with command line tools. When I build ycmd with ./build.py --all, it is fine. However when I ran ./build.py --clang-completer --system-libclang, it  will crashed. How can I solve it?

[2016-09-27 16:01] vheon commented on #611
Why would you solve a thing that already works? The `--system-libclang` was introduced for those platform (like FreeBSD) where the precompiled libclang weren't available and is supported on our best effort. On macOS the libclang that we automatically download works fine, as you've experienced with `./build.py --all`, so I don't see an issue here. Anyway if you only need the clang completer, just u

[2016-09-27 16:01] #611 closed

[2016-10-02 20:30] #538 closed

[2016-10-07 12:07] ChuckDaniels87 opened #618 "Processing .ycm_extra_conf.py creates __pycache__ directory"
I'm not sure if this is the intended behaviour. When YCM reads configuration creates a compiled version in `__pycache__`. I know that this behaviour can be disabled passing to `python` the `-B` argument or setting `PYTHONDONTWRITEBYTECODE=1` environmental variable. I don't want to disable global bytecode generation but I want to disable for `.ycm_extra_conf.py` because I feel it pollutes my projec

[2016-10-07 17:01] micbou commented on #618
We could disable the compiled version with [the `sys.dont_write_bytecode` variable](https://docs.python.org/3/library/sys.html#sys.dont_write_bytecode) before loading the `.ycm_extra_conf.py` file then re-enable it just after. Seems to work in my tests.

I don't think we should add an option for that. Instead, we should always disable it as the only benefit of the compiled version is to improve lo

[2016-10-07 17:14] ChuckDaniels87 commented on #618
Short after opening this issue, I added `sys.dont_write_bycode` to my `ycm_extra_conf.py` and it also seems to work. Nevertheless, I agree with you, if there is not noticeable improvement it should be disabled by default.

[2016-10-08 00:35] Valloric commented on #618
@micbou SGTM

[2016-10-08 02:06] moyotar opened #619 "Ycmd server error."
@ptrv @abingham @Valloric
OS: windows 7
Client: ycmd-emacs
I met this when coding in a `.cpp` file. What's more, It can't complete anything in `.cpp` file while It works in `.py` flie. In a `.cpp` file, sometimes I get correct candidates with using `ycmd-display-completions` command and sometimes get empty candidate which is incorrect. But, whether it has candidates or not, the `company` only comp

[2016-10-08 08:26] ptrv commented on #619
We had a bug in `emacs-ycmd` regarding exit codes. Signals where treated the same way as exit codes, which led to wrong error messages. The issue has been fixed.
@moyotar Are you on the latest versoin of `emacs-ycmd`?

[2016-10-08 08:47] moyotar commented on #619
@ptrv
There are something different and exciting after I updated it to the latest version. `Company` can show candidates now. Though it works slowly. The error still exists and I found new output  which may be helpful.

File mode specification error: (file-error "Creating pipe" "too many open files")
Error while checking syntax automatically: (file-error "Creating pipe" "too many open files")
appl

[2016-10-08 09:22] moyotar commented on #619
In a `.h` file, `Company` shows candidates with normal speed.

[2016-10-08 11:48] ptrv commented on #619
I think this report mixes up multiple issues. Problems with `company` should not be reported here. It belongs to `emacs-ycmd` project. Also we need clear reproduction steps and more information for your issues. Version of `ycmd` and `emacs-ycmd`, some output from the ycmd server.

However, I also encountered the issue with `too many open files`. Restarting the server helped in that case.

[2016-10-09 02:21] moyotar commented on #619
I had used `el-get-update` to make it up-to-date yesterday. Is `YCM` automatical completion in a `.py` files without other settings? How to do if I want to make `YCM` only work in `py` file.

[2016-10-09 02:31] moyotar commented on #619
To make it work finely in `c/c++` file, I spend a few days. Now I set it to work in '.py' file only.

[2016-10-09 06:30] zijianyue opened #620 "ycmd-get-parent doesn't show the return type of function in C"
e.g. : a function like below
int func(int a, short b)
ycmd-get-parent will show func(int, short).
Wish to improve that :)

I've submitted the same issue to emacs-ycmd, but they said I should submit it here.
https://github.com/abingham/emacs-ycmd/issues/363

[2016-10-09 12:11] vheon commented on #620
A little more information would be helpful:

- Can you show a minimal example?
- What did you expect `ycmd-get-parent` should have returned?

[2016-10-09 14:28] moyotar commented on #619
@ptrv
This error `Creating pipe: too many open files` still exists in `.py` file and I can't stop or start `ycmd`.

[2016-10-10 02:11] zijianyue commented on #620
int func(int a, short b)
{
    TABB aaaa;
    return 0;
}
ycmd-get-parent show:
func(int, short)
expect:
int func(int, short)

[2016-10-10 15:52] micbou commented on #620
This is what [`clang_getCursorDisplayName`](http://clang.llvm.org/doxygen/group__CINDEX__CURSOR__XREF.html#gac3eba3224d109a956f9ef96fd4fe5c83) is returning to us. Would you prefer to get the type of the parent? In your example, it would be:
[code]
instead of
[code]
or do you really want:
[code]
?

[2016-10-10 16:09] puremourning commented on #620
The name is the most important here, and the reason the feature was added.

You can't overload on return type, so it does not create ambiguity.

The purpose of the feature is to see where you are in a large file. I think it serves that purpose?

[2016-10-10 16:36] micbou commented on #618
@ChuckDaniels87 Could you try PR #623? It works for me but I'd like some confirmation.

[2016-10-10 18:47] ChuckDaniels87 commented on #618
@micbou It seems it is working fine. Thanks for the quick fix! :+1:

[2016-10-11 01:47] zijianyue commented on #620
@micbou int func(int, short) is needed
@puremourning the function name is most important here,but the return type is useful when coding I think. For I can decide what type to return without jump to the beginning of the function to see the return type.

[2016-10-11 07:46] moyotar commented on #619
@ptrv
This is a really disturbing problem, which make  me must kill emacs process and restart it to continue. I need your help.

`Error while checking syntax automatically: (file-error "Creating pipe" "too many open files")`

[2016-10-11 08:03] puremourning commented on #620
That's a different use case. And I sincerely object to any change which removes the actual context for which this feature was designed.

[2016-10-11 10:32] ptrv commented on #619
@moyotar We need some reproduction steps to say more about the problem.

Looks like the error is coming from `flycheck`. What checkers do you have enabled? How many buffers do you have open?

[2016-10-11 23:53] #618 closed

[2016-10-12 09:41] moyotar commented on #619
![image](https://cloud.githubusercontent.com/assets/22092607/19305346/014498ba-90a3-11e6-958e-cc33071e6707.png)

[2016-10-12 09:42] moyotar commented on #619
![image](https://cloud.githubusercontent.com/assets/22092607/19305401/4cbb0ab8-90a3-11e6-890e-d0d0386c6b89.png)

[2016-10-12 09:43] moyotar commented on #619
![image](https://cloud.githubusercontent.com/assets/22092607/19305426/67bb8540-90a3-11e6-8fe9-f0be4939b5ca.png)

[2016-10-12 09:48] moyotar commented on #619
![image](https://cloud.githubusercontent.com/assets/22092607/19305521/de164e32-90a3-11e6-9053-38b34f81684f.png)

[2016-10-12 09:50] moyotar commented on #619
Thanks for your patience and your time.

[2016-10-12 10:34] ptrv commented on #619
You have a lot of `curl` processes running.

The c-runtime on windows has a limit of 512 open file processes (see https://msdn.microsoft.com/en-us/library/kdfaxaay(v=vs.140).aspx)

Could you try setting `request-backend` variable to `url-retrieve` in you config like this:

[code]

Does it change anything?

[2016-10-12 13:26] moyotar commented on #619
It's really exciting!  The error `Creating pipe: too many open files` is gone. It can't help work now, at least.
But it's much better if you can help me to solve this, which makes `ycmd` crash and need a few time to restart in `c/c++` mode.
![image](https://cloud.githubusercontent.com/assets/22092607/19311581/90b55c96-90c1-11e6-8594-0e26619eef25.png)

Error output:

Mark set
error in process senti

[2016-10-12 13:27] moyotar commented on #619
The pic above means python.exe have stopped working.

[2016-10-12 13:48] micbou commented on #619
This looks like a libclang crash, similar to issue #599. Could you attach the contents of your C/C++ file and your `.ycm_extra_conf.py` file that reproduces the crash?

This error should only happen at the start of ycmd when it fails to load the `ycm_core` library and exits with status code 6. I doubt this is the case here so maybe issue https://github.com/abingham/emacs-ycmd/issues/352 was not co

[2016-10-12 16:00] ptrv commented on #619
With the fix in https://github.com/abingham/emacs-ycmd/issues/352 we check explicitly for the process-status that Emacs is returning. Only when Emacs is returning an `exit` we print such error messages. So either @moyotar is still not using the latest `emacs-ycmd` version or emacs is giving wrong status information about the process.

[2016-10-13 01:48] #620 closed

[2016-10-13 01:49] moyotar commented on #619
Just now, I had used command `el-get-update` to update `emacs-ycmd` successfully. Then, I restarted `emacs` and tested. It worked normally in `python-mode` and didn't in `c/c++-mode`. I got these messages in `c/c++-mode`.

error in process sentinel: make client process failed: connection refused, :name, 127.0.0.1, :buffer, #<killed buffer>, :host, 127.0.0.1, :service, 62525, :nowait, nil
error in

[2016-10-13 01:52] moyotar commented on #619
I used `list-process` when seeing error in process sentinel. I got this.
![image](https://cloud.githubusercontent.com/assets/22092607/19333876/c5b2e738-912a-11e6-86be-790103f46d6f.png)

[2016-10-13 22:31] ptrv commented on #619
@moyotar Can you try this out this branch: https://github.com/ptrv/emacs-ycmd/tree/get-port-from-server (diff: https://github.com/abingham/emacs-ycmd/compare/master...ptrv:get-port-from-server)

It looks like in your Emacs, generating random port with `make-network-process` does not work. With the patch from the branch mentioned above, we parse the port from the server output.

Or you can try also

[2016-10-14 02:14] moyotar commented on #619
Yes! I replaced `emacs-ycmd` with yours. Now,  it works better. There is only a error left, which makes `ycmd` stop completion a few seconds frequently.

[2016-10-14 03:59] dpzmick opened #624 "vagrant build is failing"
building `racerd` is failing in the vagrant image.

From the third_party/racerd directory:

[code]

Not sure what's happening here, but I am investigating

[2016-10-14 04:04] dpzmick commented on #624
https://github.com/rust-lang/cargo/issues/3098

[2016-10-14 04:31] dpzmick commented on #624
Things that do not work
* `cargo install cargo` + `export PATH=/path/to/multirust.../:$PATH`
* building cargo from source with the cargo already installed in the image

Things that do work:
* install the cargo nightly from the tarball (https://static.rust-lang.org/cargo-dist/cargo-nightly-x86_64-unknown-linux-gnu.tar.gz) then `./build.sh --all`

this may be a suitable workaround until a new cargo

[2016-10-14 06:57] moyotar commented on #619
Oh! There's one thing I forgot to tell you. I don't know whether it's relative with this error or not. Before building `ycmd-server`, I edited one line in `build.py`. Because I only installed `Visual Studio 10` in my machine.

![image](https://cloud.githubusercontent.com/assets/22092607/19378260/3265b722-921e-11e6-8b1e-12bcd0bc382d.png)

[2016-10-14 07:55] moyotar commented on #619
@micbou It happens when in `c/c++` mode and doesn't matter what contents.

My config:

(set-variable 'ycmd-extra-conf-whitelist '("E:/*"))

My `c++` project is under `E:\download\P2P-master\P2P-master`.

This is my `.ycm_extra_conf.py` file in path `E:\download\P2P-master`. (Only difference shown here)

    '-std=c++11',
    '-stdlib=libc++',
    '-Wno-deprecated-declarations',
    '-Wno-disabled-

[2016-10-14 09:07] ptrv commented on #619
Hmm, this is strange. The server crashes but Emacs reports and exit. Needs investigation

[2016-10-14 16:47] n0use commented on #552
Thanks!  This worked for me on FreeBSD 10.1 (with all the latest llvm38, boost, etc) - I was getting exact same error, then downgraded to 0de1c0c, and it built fine.

[2016-10-19 06:16] moyotar commented on #619
I have updated `emacs-ycmd` and still meet it. Please tell me once you have a solution.

[2016-10-19 09:09] ptrv commented on #619
@moyotar Your emacs-ycmd version is **definitaly** not up to date because we removed the function which could cause the error message with `open-network-stream`. Maybe you have still a byte compiled version around which gets loaded.

Please make sure you have the latest version. Maybe set `(setq load-prefer-newer t)`

Also it would be helpful if you could reproduce the problem with starting emacs

[2016-10-19 10:06] moyotar commented on #619
Yes, I had still a byte compiled version. After rough test, it works finely in `c/c++` mode. It's pleasant! I will close this issue after confirming that the errors above don't exist any more. Thanks a lot!

[2016-10-19 15:53] icholy commented on #45
[Rust's language server](https://internals.rust-lang.org/t/introducing-rust-language-server-source-release/4209) have also adopted the LSP.

[2016-10-19 16:10] vheon commented on #45
@icholy I didn't even know Rust had its own Language Server. @jwilm do you know how does it compare to racer?

[2016-10-19 16:17] icholy commented on #45
@vheon It's very very new, not production ready. My intention is to show that the language server protocol is gaining traction and ycmd should support it.

[2016-10-19 16:21] jwilm commented on #45
@vheon it uses racer internally to provide more features. I was planning to add a completer for it this weekend :). I'm not sure that YCM actually supports everything that RLS does.

[2016-10-24 08:29] #619 closed

[2016-10-25 12:01] micbou commented on #432
@Yevgnen Could you try again with the latest version of ycmd?

[2016-10-25 12:03] Yevgnen commented on #432
@micbou Ok, I'll try it as soon as possible.

[2016-10-25 15:08] Yevgnen commented on #432
I guess this issue is gone under a python 3.5.2 build, even though I got other things like

[code]
which seems to relate to existed issue.

[2016-10-25 15:28] micbou commented on #432
This is different. Initial issue was a connection problem with [the JediHTTP server](https://github.com/vheon/JediHTTP) (which is used to provide Python completions) while this one is a C/C++ completion issue. Are completions working in Python files?

[2016-10-25 15:32] Yevgnen commented on #432
I know that's different issue, happens in a c++ file when typing things like `#include <iosream>. I confirm that the origin issue in Python completion is gone.

[2016-10-25 15:32] #432 closed

[2016-10-26 23:39] #541 closed

[2016-10-28 13:15] ekd123 opened #633 "UnicodeEncodeError thrown when the path contains non-ASCII characters"
Hi!
I'm using YCM for a project, and the path name contains some non-ASCII characters (in this case, CJK characters).
If I choose to load .ycm_extra_conf.py, UnicodeEncodeError is thrown saying 'ascii' codec can't encode characters in position xx-xx: ordinal not in range(128)
I hope this can be fixed soon! Thanks!

[2016-10-28 13:18] ekd123 commented on #633
For example, a folder called プログラミング or 项目 can reproduce this problem easily.

[2016-10-28 13:39] micbou commented on #633
You should report this issue [on YCM repository](https://github.com/Valloric/YouCompleteMe). Follow the instructions in [CONTRIBUTING.md](https://github.com/Valloric/YouCompleteMe/blob/master/CONTRIBUTING.md#writing-good-issue-reports).

[2016-10-28 13:39] #633 closed

[2016-11-04 01:42] mixedCase opened #638 "Tern 0.20 update"
Are there any blockers for bumping up from 0.19?

[2016-11-04 09:07] puremourning commented on #638
Not that I know of. PR welcome? :D

[2016-11-04 09:20] mixedCase commented on #638
@puremourning Done. You guys owe me a coffee for that piece of work! :)

[2016-11-04 14:23] #638 closed

[2016-11-08 11:33] richard1122 commented on #121
Is there going to be any updates about this?
Split parameters out would be great.

Also it's acceptable to just add parameters for backward compatible.

[2016-11-16 02:47] moyotar opened #646 "ImportError"
![image](https://cloud.githubusercontent.com/assets/22092607/20332813/7f917b50-abe9-11e6-9838-a70701258727.png)

I moved `ycmd` from windows 7 to windows 10. At first, it worked normally. Puzzlingly, I encountered this yesterday.

[2016-11-16 03:07] micbou commented on #646
Does the file `D:\app\emacs\extraBin\ycmd\third_party\requests\requests\packages\urllib3\__init__.py` exists?

[2016-11-16 03:20] moyotar commented on #646
Yes!
![image](https://cloud.githubusercontent.com/assets/22092607/20333601/85907286-abee-11e6-87e4-e782801c85b3.png)

[2016-11-16 23:00] micbou commented on #646
I can't reproduce your issue on my Windows 10 64-bit VM with Python 2.7.6. I suggest you to do a clean install of YCM. If you don't get the issue anymore then you know it was caused by copying ycmd from one OS to another (could be the compiled bytecode files `*.pyc`).

[2016-11-17 03:00] moyotar commented on #646
Oh, I think it's not a good solution. There's a wise way to make it?

[2016-11-17 12:06] moyotar commented on #646
I deleted the `ycmd` and install it again.
![image](https://cloud.githubusercontent.com/assets/22092607/20388705/12b69b14-ad01-11e6-9758-51b4fed9ecb2.png)

However, I still got this error when I reopen my emacs.

[2016-11-17 12:28] micbou commented on #646
Could you replace the following code in `D:\app\emacs\extraBin\ycmd\third_party\requests\requests\packages\__init__.py`:
[code]
by
[code]
and then reproduce the issue so that we can see the actual `ImportError` traceback?

[2016-11-17 12:33] moyotar commented on #646
[code]

After replacing, I got this.

[2016-11-17 12:46] micbou commented on #646
According to [this SO post](http://stackoverflow.com/a/26550917), your Python 2 installation is probably corrupted. Do you have multiple versions of Python 2 installed on your machine? Could you try to remove all of them and reinstall Python 2.7.6 (or even better install the last version 2.7.12)?

[2016-11-17 13:46] moyotar commented on #646
Awesome! Thanks a lot! After deleting all the python version in my machine, I reinstalled python and ycmd.
Now, ycmd works normally again! Thanks!

[2016-11-17 13:46] #646 closed

[2016-11-17 14:50] #569 closed

[2016-11-17 16:02] beojan opened #648 "Completion doesn't work in ifdefs"
Completion isn't working for variables defined within an `#ifdef` section.

These are used for choosing code paths at compile time (by defining the macro in the build system), so completion should be available in these sections.

[2016-11-17 23:07] vheon commented on #648
We use libclang and the flags that you specify in the `.ycm_extra_conf.py` to provide the completion and to do that libclang actually compile your code so, if you didn't specify the `#define` required by that `#ifdef` branch I don't think is possible to give you the autocompletion you expect.

[2016-11-20 07:46] xuweitz opened #653 "can't go-to-definition in atom editor"
Can't jump to definition or declaration.
Traceback (most recent call last):
File "/home/xw/.vim/bundle/YouCompleteMe/third_party/ycmd/third_party/bottle/bottle.py", line 861, in _handle
return route.call(**args)
File "/home/xw/.vim/bundle/YouCompleteMe/third_party/ycmd/third_party/bottle/bottle.py", line 1734, in wrapper
rv = callback(*a, **ka)
File "/home/xw/.vim/bundle/YouCompleteMe/third_party/

[2016-11-20 13:59] micbou commented on #653
You need to tell us in which context. It's not always possible to jump to a definition or a declaration.

[2016-11-22 00:57] booooh opened #654 "CXTranslationUnit_KeepGoing not available in clang 3.8.1"
In the documentation you specify that the latest version of clang should be used, but you mention that clang 3.8.0 or newer should be OK.

However, it seems that 3.8.1 does not include the flag:
CXTranslationUnit_KeepGoing

which was added in issue #590 (I think).

Please either update the documentation, or enable this via a compilation flag...

P.S.
I chose clang 3.8.1 since my development work i

[2016-11-22 01:19] Valloric commented on #654
Thanks for pointing this out.

@micbou Seems like this is biting us in the ass now. Weird that libclang would remove this flag...

@r4nt @d0k Would either of you know why was this flag removed in 3.8.1?

[2016-11-22 01:20] Valloric commented on #653
@xuweitz Please provide a detailed, reproducible test case.

[2016-11-22 01:26] micbou commented on #654
I think there is a misunderstanding here. This flag was never removed but introduced in Clang 3.9. We need to bump the Clang version requirement in the documentation. I am preparing a PR.

[2016-11-22 01:43] booooh commented on #654
@micbou yes that's what I meant.

[2016-11-22 01:48] xuweitz commented on #653
![2016-11-22 09-41-37](https://cloud.githubusercontent.com/assets/16414822/20507783/f99d1b04-b097-11e6-85f1-64dac9d57dbf.png)
When I Ctal+click a function name to go to definition, it has been such a mistake that RuntimeError.
PS. It's in atom editor

[2016-11-22 01:49] micbou commented on #654
@booooh As mentioned in PR https://github.com/Valloric/YouCompleteMe/pull/2445, you should be able to compile against Clang 3.8.1 using the `-DEXTERNAL_LIBCLANG_PATH` flag.

[2016-11-22 01:51] booooh commented on #654
ok, thanks - I may give that a try.

[2016-11-22 01:54] xuweitz commented on #653
![2016-11-22 09-50-52](https://cloud.githubusercontent.com/assets/16414822/20507982/6694ce18-b099-11e6-9bc9-3d283369f866.png)
![2016-11-22 09-51-25](https://cloud.githubusercontent.com/assets/16414822/20507993/6afc8252-b099-11e6-9ef7-3e80bbbfbc56.png)
In the atom editor installed you-complete-me plugin, the figure for the plugin details.

[2016-11-22 02:12] xuweitz commented on #653
In the ycm_build directory the Makefiles files generated and then Execute command: make ycm_support_libs, but had a error, the detail is: make: * * * rule to make target No'ycm_support_libs'. Stop.
However, I execute command : make ycm_core, succeed.There is no mistake. YCM normal operation in vim.

[2016-11-22 06:15] Valloric commented on #654
@micbou Thanks for clarifying; there was indeed lots of misunderstanding here on my part. :D

[2016-11-22 09:26] #654 closed

[2016-11-22 22:21] vheon commented on #653
However, I execute command : make ycm_core, succeed.There is no mistake.

We don't have the `ycm_support_libs` rule anymore (and it has been a while) because we don't need any compiled binary on the client side (it was needed by the vim client for the `omnifunc` completer). Are you sure you are reading the latest doc? Where are you reading this?

This means that `ycmd` works fine, so it is either

[2016-11-22 23:34] micbou commented on #653
I think the main issue here is that the Atom client should not display the Python traceback to the user but only the `Can't jump to definition or declaration` text.

About the error itself, there are multiple reasons for not being able to jump: cursor position is not valid, compilation errors in the current file, definition is not in the current translation unit, etc. Without the C++ code and the

[2016-11-23 04:24] xuweitz commented on #653
Thank you for reminding me. I'll try this method.

[2016-11-24 14:50] bennyyip opened #656 "Cannot compile with Visual Studio 2017 RC (solved)"
I tried to compile YouCompleteMe using the `install.py` script, but CMake cannot find the MSVC compiler. I was using CMake 3.7, the lastest CMake release. It seems that it cannot detect the new compiler.
[code]
Then I use the CMake installed with VS 2017 instead, and modify the `ycmd/build.py`.
[code]

I re-compiled, CMake successfully detected MSVC, but Boost failed to complie. Because it conside

[2016-11-24 20:19] vheon commented on #656
To do this the proper way to change the `--msvc` flag to accept `15` and `GetGenerator` to accept that and return `"Visual Studio 15"` the `"Win64"` will be inserted by inferring the machine architecture.

Unfortunately that is actually Boost, we only download it, so this has to be reported and fixed upstream. Does a new release of boost exists?

[2016-11-24 23:18] micbou commented on #656
I suggest to wait for the final release of Visual Studio 2017 before supporting it in the `build.py` script. Concerning Boost, this will probably be fixed in its next release (1.63.0), which is planned next month.

[2016-12-01 17:49] haifengkao opened #659 "module support for objective-c"
I noticed the latest `YouCompleteMe` now supports `clang 3.9.0`.
So I did a little experiment (https://github.com/haifengkao/libclang-experiments-py).
To my surprise, the `libclang` built by `ycmd` can handle the objective-c modules successfully.

But `:YcmDiag` still fails with the annoying error `could not build module 'Foundation'`.
![2016-12-02 1 45 01](https://cloud.githubusercontent.com/asse

[2016-12-02 04:47] haifengkao opened #660 "AttributeError: 'module' object has no attribute 'OrderedDict'"
I am following https://github.com/Valloric/ycmd/blob/master/TESTS.md to execute the test cases.
However, when I execute `./run_tests.py`, I got
[code]
The vagrant intentionally installs python 2.6.6, but `flake8` uses `OrderedDict` which is not available until python 2.7.

I guess we need some patch for the `vagrant_bootstrap.sh`

[2016-12-02 08:08] haifengkao commented on #659
I managed to create a simple test case
[code]

The output is
[code]

I have tried `libclang` with C++ binding, and it still works without any problems.
I start to believe the problem comes from `ycm_core.so`, instead of `libclang.dylib`.

[2016-12-02 10:57] micbou commented on #660
You can disable `flake8` with the `--no-flake8` flag. This is what we do on Travis.

[2016-12-02 12:05] haifengkao commented on #660
Why don't you upgrade the python to 2.7.11?
 `ycmd` and `flake8` are running fine with it.

[2016-12-02 14:36] micbou commented on #660
Because `ycmd` supports Python 2.6. What we could do is update our `test_requirements.txt` file to use a working version of Flake8 on Python 2.6. This way we don't have to disable Flake8 for this version of Python on Vagrant and Travis. Reopening.

[2016-12-03 10:32] puremourning commented on #660
Also, you can (should?) use pyenv to get a python 2.7 or python 3 setup in vagrant.

[2016-12-04 15:05] rski opened #663 "[Feature] Language server protocol support"
Microsoft has published a spec for a thing called language server protocol:

https://github.com/Microsoft/language-server-protocol

It might be a good idea to implement support for this protocol and integrate backends talking this protocol in ycmd. Then editors get LSP support for free, using their standard ycmd plugins. Basically what I have in mind is using the existing ycmd codebase as a lightw

[2016-12-04 17:31] haifengkao commented on #659
I created another test case with `TranslationUnit` in `YouCompleteMe` class.
It still handles the module syntax `@import Foundation;` successfully.
Now I don't really understand why `ycmd` would return `could not build module 'Foundation'`.

[code]

[2016-12-04 19:01] vheon commented on #663
I believe this is a duplicate of #515.

[2016-12-04 19:01] #663 closed

[2016-12-04 19:04] rski commented on #663
whoop, sorry I only looked at the open tickets for potential duplicates

[2016-12-05 23:33] micbou commented on #599
I am closing the issue as we can't do much without a reproducible case. We'll be happy to reopen if one is provided.

[2016-12-05 23:33] #599 closed

[2016-12-06 04:43] zijianyue commented on #599
I found that when I use ycmd-goto-imprecise or ycmd-getparent-imprecise, ycmd never crash, it seems that crash will happen when reparse the buffer.

[2016-12-15 03:47] wincent opened #669 "Plug-in based architecture for completers"
Have you ever thought about adding some kind of plug-in based architecture so that users could extend ycmd (add new completers) without having to integrate those changes directly into the ycmd repo?

For example, I have made a couple of custom completers to do some very specific things:

- Provide completion of email addresses via `lbdbq`, drawing from the macOS Contacts app, `mutt` aliases, and p

[2016-12-17 03:25] Valloric commented on #669
We had exactly this for years. I removed it for the following two reasons:

1. The internal Completer API wasn't, isn't and will never be stable. It's too much of a burden on ycmd development; we want to be able to change that API willy-nilly (and have done so many times). With everything being in the ycmd repo, we can easily update all Completers to the new API.
2. People developed their own gene

[2016-12-17 03:25] #669 closed

[2016-12-17 03:42] wincent commented on #669
Thanks for the explanation!

It's not actually that hard. YouCompleteMe and ycmd work just fine, and I feel no pressure to update my basically-year-old fork. It's easy enough to cherry-pick over specific bug fixes when I need them (have done it twice so far); there's no need for me to chase the bleeding edge.

Thanks once again for sharing your rationale.

[2016-12-18 15:36] #660 closed

[2016-12-20 15:18] onur opened #670 "Shutdown tests are failing for some reason"
Hi. I am maintainer of vim-youcompleteme/ycmd packages for Debian and Ubuntu. I am making an updated version of packages before sid freezes but `ycmd.tests.shutdown_test.Shutdown_test` started giving errors for an unknown reason and there isn't much output other than: `<h1>Critical error while processing request: /ready</h1>`.

I hope you can tell the actual reason I can't figure out myself and al

[2016-12-20 16:06] micbou commented on #670
This looks like [an issue with Bottle](https://github.com/bottlepy/bottle/blob/master/bottle.py#L1098) but I can't reproduce with the last version (0.12.11) so it's maybe something else. Could you enable [Bottle debug mode](https://bottlepy.org/docs/dev/tutorial.html#debug-mode) and run again the tests?

[2016-12-20 16:09] micbou commented on #670
Add the line:
[code]
at [the top of `ycmd/handlers.py`](https://github.com/Valloric/ycmd/blob/master/ycmd/handlers.py#L45).

[2016-12-20 16:22] onur commented on #670
Got more output:

[code]

[2016-12-20 16:32] onur commented on #670
Versions of modules used on build:

[code]

[2016-12-21 09:17] onur commented on #670
Ok I have more information. ycmd is actually returning same response for every request and ycmd is only working with bottle that comes with ycmd.

I tried bottle 0.8, 0.12.11 and master, getting same error all the time. To reproduce this just update bottle submodule in third_party directory and try to run ycmd with latest bottle.

[2016-12-21 09:40] arthurflachs opened #671 "Javascript strings completion does not include the initial quote"
Autocompleting javascript string (including required modules) with YCM does not happen as expected in Vim. The same behavior should be met with other clients.

**Steps to reproduce**
* Enter the following : require('re<C-Space>
* Select 'react'
*Expected result:* require('react'
*Actual result:* require(''react'

*Solution to the problem*
The ternjs server includes the quote in the completions res

[2016-12-21 18:52] lilred commented on #561
YouCompleteMe takes a million years to build, and often fails late in the process. Sometimes it even "misbuilds" and you have to start over. For example, if my Vim is compiled with Python3 support but /usr/bin/python is Python2 (**as is default on, for example, Ubuntu 16.04**), then `./install.py` will work perfectly fine and then `ycmd` will just crash when you try to use it.

Build artifacts are

[2016-12-21 20:49] vheon commented on #561
Yes it will crash, with an error like the one specified at https://github.com/Valloric/YouCompleteMe#i-get-importerror-exceptions-that-mention-pyinit_ycm_core-or-initycm_core (the proper solution to the problem is there). YCM is perfectly capable to run in vim with Python3 while the server was built with Python2 or even a different Python3 binary, you only have to tell it where it is.

The reason

[2016-12-21 21:16] quicknir opened #674 "Use identifier engine automatically, semantic manually"
I'd like to achieve this if possible. I don't want semantic to start automatically because, while reasonably quick, it's not fast enough to give a good experience while typing. I could use a different backend for automatic completion and ycmd for manual (note that is via emacs-ycmd & company), but then I don't get nice completion for my #includes; I have to keep hitting auto complete manually afte

[2016-12-21 21:17] vheon commented on #674
Which client are you using? vim, emacs, Sublime Text etc?

[2016-12-21 21:18] vheon commented on #674
If you're using Vim se https://github.com/Valloric/YouCompleteMe#the-gycm_auto_trigger-option. If you're not using vim you have to ask at the maintainer of the client you're using.

[2016-12-21 21:18] #674 closed

[2016-12-21 21:21] quicknir commented on #674
I'm using emacs-ycmd. According to the description for auto trigger, it turns off the identifier based engine as well. I'd like the identifier engine to be on and to be used for everything, including after `.`/`->`, and only get semantic when I ask for it.

[2016-12-21 22:02] quicknir commented on #674
It seems like despite the description, this does indeed work. Maybe the docs can be clarified?

[2016-12-21 22:07] vheon commented on #674
The one that I showed is the setting for Vim. If you are using emacs-ycmd you have to ask over their repo.

[2016-12-21 22:29] puremourning commented on #561
I'm sorry that's your experience. Our CI builds don't take quite that long, and they pretty much always succeed. I also build ycmd frequently and almost never have build failures (unless I just caused them!)

I'm sorry I have no idea what this means. I think the only common problem that could be explained by this is that you end up linking against a python which was not built with `--enable-shared

[2016-12-22 02:21] quicknir opened #675 "Link fails against python library"
When I run ./build.py --clang-completer it finds my python library, but then fails to link. It's in a non-standard location. I invoke it like so:

[code]

After running this, the following comes up (among other things):

[code]

Everything looks good. Compiling starts, but then there's a link failure, cannot find -lpython2.7. I tried setting CMAKE_LIBRARY_PATH, but this did not help. Any suggestio

[2016-12-22 03:36] quicknir commented on #675
Hmm, very strange, I changed this from clang to gcc/g++, and now it works. That seems quite odd.

[2016-12-22 05:30] lilred commented on #561
It literally happened to me today :(

It *is* broken, though. See: this issue. I don't even really mind that it's broken, shit just happens; but the issue being closed without a resolution stings a bit.

\>C-f "incremental"
\>0 results

[2016-12-22 06:19] yan12125 commented on #561
This issue is indeed a bug, but it's boost that should be blamed instead of YCM. If anyone can finish my partial PR at https://github.com/boostorg/python/pull/83, everything will be fine. I didn't continue it as I can't understand Boost.Build's mysterious build scripts.

[2016-12-22 09:54] micbou commented on #675
Could you paste the build output?

[2016-12-22 10:03] puremourning commented on #561
@lilred

[2016-12-22 16:51] puremourning commented on #561
@lilred

That's disappointing. Perhpas you could file a complete issue report fopllowing the instructions in `CONTRIBUTING.md` so that we can debug it. This thread is not related to such issues (rather a Boost bug which causes a build failure with ycmd).

[2016-12-22 18:30] Valloric commented on #648
@vheon provided a good explanation. Whether you get semantic completion for stuff inside an `#ifdef` depends entirely on the flags you provide to libclang through `.ycm_extra_conf.py`.

Please provide a detailed test case demonstrating the problem in case we've misunderstood the issue.

[2016-12-22 18:30] #648 closed

[2016-12-22 21:30] #659 closed

[2016-12-23 05:15] quicknir commented on #675
Note that I had to replace a path in the build output, I replaced a literal path with the same thing (`<my_dir>`) everywhere.

[code]

[2016-12-23 05:17] quicknir commented on #675
The system that I built this on, was rather unconventional for a number of reasons. Since I found a workaround, you may feel like this is low value to work on as it may not be representative, so if you guys decide to close it, that's cool. Or you may think this is exposing some kind of issue in the cmake file; in which case I'm happy to keep providing information.

Cheers.

[2017-01-01 00:44] puremourning commented on #671
Could you post your `.tern-project` file ?

I can't get tern to complete the paths in `require` in my testing.

[2017-01-01 16:44] arthurflachs commented on #671
The node plugin needs to be enabled

[code]

[2017-01-03 14:50] puremourning commented on #671
OK thanks, I can reproduce.

I suspect we should actually strip the `'` because i don't think `'` is actually valid in a javascript identifier (i.e. you can't have a variable named `'`)

[2017-01-03 14:53] puremourning commented on #671
Steps to reproduce:

- `mkdir ~/tmp/js`
- create `~/tmp/js/.tern-project` with the following contents:

[code]

- save/quit
- `vim test.js`
- insert `require( 're` and press `<ctrl+space>`
- select an item "`repl`"
- expect: `require( 'repl'`
- actual `require( ''repl'`

[2017-01-03 15:25] bstaletic commented on #671
I'm not a javascript developer, so I am not quite sure my patch is sufficient, but it does solve the ssue described in the previous @puremourning's post.

Here's what I came up with:
[code]
Is that all that is needed to fix the issue and not create a different problem somewhere else? If so I could submit a PR.

[2017-01-03 15:25] puremourning commented on #671
Like i said above

[2017-01-06 23:46] GuillaumeQuittet opened #683 "ImportError: libpython3.5m.so.1.0: cannot open shared object file: No such file or directory"
Very easy to fix it!
1) Go to the ycmd folder (mine is "/opt/ycmd")
2) Update it with "git pull"
3) Recompile ycmd with:
./build.py --all

[2017-01-07 01:24] micbou commented on #683
Thanks for your input.

[2017-01-07 01:24] #683 closed

[2017-01-08 00:25] oblitum commented on #491
Just to register. This could be improved if completion relied on the `complete_add` API and cache swapping and menu content updates could happen while user types. Also, the mechanism could be relaxed to be used for forced semantic completion on global scope on any location since it brings _almost_ the same data most of the time, which can be a helper to https://github.com/Valloric/YouCompleteMe/is

[2017-01-12 05:39] nmschulte opened #690 "Add ESLint diagnostic support to Tern (javascript) completer"
There is a plugin for Tern that supports code linting (validation) via ESLint.  Is this something that the Tern completer could expose as diagnostics w/ ycmd / YouCompleteMe?

https://github.com/angelozerr/tern-eslint

---
https://github.com/angelozerr/tern-eslint/blob/master/eslint.js#L390
https://github.com/angelozerr/tern-eslint/blob/master/eslint.js#L404

[2017-01-12 05:59] nmschulte commented on #690
Also, @angelozerr has a semantic analyzer plugin for Tern: https://github.com/angelozerr/tern-lint

[2017-01-12 11:12] puremourning commented on #690
I actually implemented this a year or more ago. At the time the diagnostics were inferior to what syntastic provided, so I dropped it.

[2017-01-12 14:11] deb0ch opened #691 "C/C++: server command to get compilation flags for file"
Is there a server command (or completer subcommand) to get the compilation flags used for completion in a given file ? If not, would it be possible / easy to implement ?

I'm trying to develop some new features for Emacs/Spacemacs for which I would need to know about the compilation flags.

Currently the only way for me to get them is to parse the debugging info sent by ycmd server on request, but

[2017-01-12 14:19] deb0ch opened #692 "C/C++: server command to get all currently defined preprocessor macros"
Is there a way of obtaining all currently defined preprocessor macros for a given C/C++ file, along with their values ? If not, would it be possible / easy to implement ?

I don't know if there is a libclang function for this, or if such a thing is already possible using some trick on a completion request.

It would allow a reliable use of Emacs's [hide-ifdef](https://www.emacswiki.org/emacs/HideI

[2017-01-12 15:08] nmschulte commented on #690
I could look into it again, though the plugin looks outdated and will need
some work (eslint).  Which were you referring to?

I am using Syntastic now.

On Jan 12, 2017 5:12 AM, "Ben Jackson" <notifications@github.com> wrote:

[2017-01-12 21:14] vheon commented on #692
I think that the definition of macros is actually something that is specified when you compile the TU hence they should be in the flags for that TU that the user provide to ycmd though `.ycm_extra_conf.py` or a compilation database on its behalf. So you actually already know if a macro is defined. Am I missing something?

[2017-01-12 21:18] vheon commented on #691
Either #692 is a duplicate of this or this is a duplicate of #692. Anyhow I responded on #692 to the question but here seems even more obvious: is the user that provides the flags for a particular file though the `.ycm_extra_conf.py` where the user define a function called `FlagsForFile` that given a file path it returns the flags for that file so I'm not sure is ycmd responsibility to give them b

[2017-01-13 13:39] deb0ch commented on #691
Indeed it is the user who writes the `.ycm_extra_conf.py`. Although it is `ycmd` which loads and uses it without passing by the the editor, so the editor is not aware of what flags the `FlagsForFile` returned.

In the current state of things, the editor would have to somehow call the `FlagsForFile` function on its side to know about the flags.

This poses several issues:
- I'm not sure if it is po

[2017-01-13 13:52] deb0ch commented on #692
The definition of some macros *can* be specified from the command line, although most of the time they reside in the code.

Moreover, some macros are defined conditionally or even constructed at compile-time, and it will also depend on the order in which the headers are included (and not all headers in the directories specified on the command line are included in each file).

So to get a list of p

[2017-01-19 23:36] carlca opened #694 "Confusing error message when stating gVim"
Windows 10 64 bit Insider Preview build 15007
gVim 8.0.69
Python 3.5
as part of the Anaconda suite (is this the problem?)

Hello, I have just completed the installation of YCM as per the Windows instructions. I assembled the various requisites and finally issued the
`
python install.py --gocode-completer
`
command. After a hive of activity my machine finally settled down with 15 warnings but no er

[2017-01-20 08:19] puremourning commented on #694
https://github.com/Valloric/YouCompleteMe/issues/2509

Duplicate

[2017-01-20 08:19] #694 closed

[2017-01-20 18:49] primitivorm commented on #653
I was have the same error with alt+y g, I installed https://atom.io/packages/goto and works fine for me.
right click->goto declaration

[2017-01-21 13:23] puremourning commented on #692
I think @davits for provides unparsed ranges. This can be used to implement equivalent functionality to the emacs function and when use din combination with his YCM fork in Vim.

Eventually, we didn't merge the feature from @davits, so I don't expect we would implement an equivalent. @Valloric, @micbou, @vheon would you agree?

[2017-01-21 13:30] puremourning commented on #691
https://github.com/Valloric/ycmd/pull/601

Pretty sure this change implements the requested feature. @micbou can you confirm?

[2017-01-21 13:34] puremourning commented on #690
I was referring to @angelozerr plugins. It's  not hardness to implement and maybe it has improved since. It's also asynchronous and real-time. But personally my only use case uses jshint by policy and so I don't have a strong desire to revisit it. You may find it in my fork however if you want to go spelunking.

[2017-01-21 16:27] deb0ch commented on #692
I'm sory, but I didn't get what you mean by "unparsed ranges" ? By "the emacs function", are you referring to `hide-ifdefs` ?

How is @davits' fork related to preprocessor macros ?

I'm not 100% sure I expressed myself very clearly about this functionality, maybe an example would be better.

For instance, if you have:

[code]
with FOO defined (or not) in an included header or from the command line

[2017-01-21 17:04] puremourning commented on #692
In the mentioned fork, the server returns skipped ranges. See for info http://clang.llvm.org/doxygen/group__CINDEX__LOCATIONS.html#gae27bc89151459aeb94e0fb7aa0552d35. That is ranges of code that were skipped due to ifdefs.

 I don't believe we can do what you're asking.

[2017-01-22 09:10] micbou commented on #691
#601 doesn't improve much the situation since the list of flags is still returned as a string.

This way the risk would be transparent to the user

I don't see how the compilation flags will help for that.

[2017-01-23 10:59] deb0ch commented on #691
Oh, maybe I forgot to mention, I want to display a "warning" of some sort whenever the currently edited file is not the file used in the command line used by `ycmd`. I don't see any better or more reliable place to look than the compilation flags.

This whole feature is for now just an ongoing reflection / experiment to improve auto-completion user experience in Spacemacs, because apparently some

[2017-02-01 20:58] bstaletic commented on #671
Would changing `r"([^\W\d]|\$)[\w$]*"` to `r"(([^\W\d]|\$)[\w$]*|'([^\W\d]|\$)[\w$]*')"` work?

This is essentially changing "default plus the dollar sign" to "default plus the dollar sign or the same, but surrounded with single quotes".

If not, would changing the order of the "or" operands make a difference?

[2017-02-02 07:26] 1iuyzh opened #700 "Clang needs to be downloaded when compiled with Visual Studio 2017 RC"
I modified the `ycmd/build.py`:

    #ycmd/build.py
    def ParseArguments():
        parser = argparse.ArgumentParser()
        parser.add_argument( '--msvc', type = int, choices = [ 11, 12, 14, 15 ], # hack
            default = 15, help = 'Choose the Microsoft Visual '
            'Studio version (default: %(default)s).' )

    def GetGenerator( args ):
        if OnWindows():
            if ar

[2017-02-02 08:48] 1iuyzh commented on #700
Sorry. that is my fault, that is necessary step when compiling with VS

[2017-02-02 08:48] #700 closed

[2017-02-02 09:05] puremourning commented on #671
Changing the identifier regex is not the solution. It might work around this issue but causes many more serious ones.

[2017-02-02 14:34] amosbird opened #702 "Golang goto definition error."
I just built the latest ycmd in Archlinux with python 3. Golang autocompletion works fine, while GotoDefinition fails. Here is the error log,
[code]

[2017-02-03 04:52] micbou commented on #301
Fixed by PR #699.

[2017-02-03 04:52] #301 closed

[2017-02-04 18:56] jojojames commented on #534
Bump 👍

[2017-02-06 12:30] james50428 opened #703 "Racerd not update to v0.3.3"
My racerd are not update to v0.3.3
after v0.3.1 [this issue](https://github.com/jwilm/racerd/issues/60) were fixed
so now i can't compile racerd

any solution?

[2017-02-06 12:44] james50428 commented on #703
Sorry opened at the worng repo!

[2017-02-07 08:04] james50428 commented on #703
Update the problem is when i clone YCM it will also clone ycmd's older version which do not contain newer version of racerd please fix :)

[2017-02-07 23:27] tqoitc commented on #703
I will submit a PR for this.

[2017-02-08 20:05] micbou commented on #703
Fixed by PR https://github.com/Valloric/YouCompleteMe/pull/2531.

[2017-02-08 20:05] #703 closed

[2017-02-15 09:56] unhammer commented on #428
I got
[code]

and had to do

` git -c fetch.fsckobjects=false submodule update --init third_party/requests`

Apparantly there are three possible such values: https://github.com/kennethreitz/requests/issues/3008

So a full solution for the `ycmd` repo is:
[code]
and then you can `git submodule update --init --recursive` and `python2 ./build.py --all` as usual.

This should probably go into a FAQ or

[2017-02-18 18:27] puremourning commented on #561
@lilred FYI here is a commit in my fork which adds an incremental build https://github.com/puremourning/ycmd-1/commit/957e6db71ef21f73c8e3f5b34128d4dfcb058efb

[2017-02-20 18:55] puremourning commented on #534
@jojojames i can't read your previous post due to markdown. could you wrap the code in backpacks. see the GitHub flavoured markdown help for more info.

[2017-02-20 19:01] puremourning commented on #534
BTW: I can only successfully get YCM to work for even simple iOS projects when using Apple's libclang. This means using `--system-libclang` and sort of hoping that it otherwise works with ycmd. Basically, open source libclang can't compile for iOS platform, which is maybe sad but not super surprising.

[2017-02-20 19:48] jojojames commented on #534
@puremourning

I will try at some point in the near future. I'm using irony-mode right now on Emacs as it's a little more performant for me for c/c++.

Irony-mode is also able to complete relatively decently for iOS projects (but also not perfect) and also can't complete Apple APIS. It's like you said, even basic completion doesn't seem to work on iOS with YCMD.

[2017-02-20 19:49] jojojames commented on #534
Also, when I used this, I was able to get Apple API completion.

http://hyegar.com/2016/03/02/emacs-for-objc/

It's on my TODO list at some point to see if I can manually add those library apis to irony/ycmd.

[2017-02-20 19:51] puremourning commented on #534
PR #710 will really help too.

[2017-02-20 19:53] jojojames commented on #534
Also a link for anyone that wants to pull out a compile_commands.json from an xcode project.

https://github.com/supermarin/xcpretty

[2017-02-20 20:06] puremourning commented on #534
@jojojames does it work for you? I find that the compilation database it creates is not complete (it doesn't include file names for example)

[2017-02-20 20:09] jojojames commented on #534
That's whats being used to generate this file.

https://github.com/jojojames/DummyXcode/blob/master/compile_commands.json

I'm not versed enough to know if the above file is 100% in line of what you'd expect in a compile_commands.json though and not sure if there are any recent developments that would've affected that generation.

[code]

[2017-02-20 20:18] puremourning commented on #534
oh yeah, sorry i was being dumb. With my PR linked i can get pretty much fully working objective-c completion using that script and apple's libclang.

[2017-02-20 20:27] puremourning commented on #534
testing obj-c, c and c++ using files added to the project in Xcode including the standard library and all that jaz. Works fine with my PR, so I think that _actually_ closes this issue - sorry for prematurely closing it - i totally missed that our flag-mangling was the cause.

[2017-02-20 20:29] jojojames commented on #534
No problem at all! Thanks for all the hard work. 👍

Once I have some time, I'll go ahead and give this a go and report back if something is amiss.

Thanks again!

I'm also wondering how you configure ycmd to use apple's libclang? I think I'm using the one supplied by either homebrew or macports at the moment.

[2017-02-20 20:50] puremourning commented on #534
@jojojames like this:

`./build.py <normal options> --system-libclang`

for example:

`./build.py --clang-completer --system-libclang`

we don't encourage use of `system-libclang` but if it is the only way, it is the only way :)

[2017-02-28 10:29] micbou commented on #675
Let's close then.

[2017-02-28 10:29] #675 closed

[2017-03-09 19:14] BenjaminHao commented on #656
GREAT! Just installed VS2017 and this is exactly the solution for my problem.
Thx!

[2017-03-10 19:52] #656 closed

[2017-03-23 16:01] piranna opened #727 "UnicodeEncodeError: 'ascii' codec can't encode character u'\xf3' in position 27: ordinal not in range(128)"
I'm using the [you-complete-me Atom package](https://atom.io/packages/you-complete-me) and don't know why I'm getting the next error:

[code]

It's a vanilla installation, so this would not be a problem. I've also added `# -*- coding: utf-8 -*-` to the begin of the `.ycm_extra_config.py` file and didn't get any progress. Any suggestion what could be happening?

[2017-03-23 21:02] vheon commented on #727
Do you have any strange char in the path where `.ycm_extra_conf.py` is saved?

[2017-03-24 12:29] piranna commented on #727
You are right, I have an accent. The full path is `/home/piranna/Trabajo/Telefónica I+D/cdn-node`. Maybe should `ycmd` allow Unicode strings for the paths?

[2017-03-24 21:33] vheon commented on #727
@micbou didn't you had a branch that fixed this?

[2017-03-24 21:34] micbou commented on #727
@vheon I am currently working on it. I'll send a PR soon.

[2017-03-24 21:41] micbou commented on #727
@piranna Could you try the changes in PR #728? Should fix the issue.

[2017-03-25 09:55] #727 closed

[2017-03-27 07:50] piranna commented on #727
Cool, thank you! :-) I was using the `ycmd` Ubuntu package, but I'll change it for latest code to have this patch.

[2017-03-30 11:28] CandySunPlus opened #731 "Typescript completer error"
after YouCompleteMe update to https://github.com/Valloric/YouCompleteMe/commit/95a44c22cf3d2d9a151f5a9e77824d1ea28ec829 for auto merge #https://github.com/Valloric/YouCompleteMe/pull/2589
can not trigger TypeScript completer's OnBufferVisit when BuffEnter, that will break the completer with No Project error.

YCM error log

2017-03-30 19:18:16,124 - INFO - Using node binary from /Users/niksun/.nvm

[2017-03-30 11:29] CandySunPlus commented on #731
@homu

[2017-03-30 11:48] vheon commented on #731
That is a build bot, so it will not answer.

I'm not sure I understand the issue here, can you write a minimal series of step that was working before but that are now broken for you?

[2017-03-30 15:29] icholy commented on #731
This just started happening to me too.

[2017-03-31 11:17] micbou commented on #731
@CandySunPlus @icholy Could you try PR #2595? It should fix the issue.

[2017-03-31 12:11] #731 closed

[2017-03-31 13:13] icholy commented on #731
@micbou that fixed it :+1:

[2017-04-01 02:43] CandySunPlus commented on #731
@micbou thx

[2017-04-10 05:28] asdyjd opened #736 "Error when compiling ycmd under win10 python3"
I can compile ycmd with python2 correctly.
Now I want to migrate from python2 to python3.But Error occurs when compiling.
I have tried python3,anaconda3 64bit, anaconda3 32bit, even anaconda2 64bit and 32bit.
This error occured every time.
I am sure I have installed visual studio 2015, cmake 3.6, llvm4.0, 7zip.
[code]
[code]

[2017-04-10 09:03] asdyjd commented on #736
With python2.7.13,I can compile it correctly using "build.py --msvc 14".
But I run "run_tests.py --skip-build".There is a lot of error, and some is ok.
I run "run_tests.py", It compiled incorectly.

[2017-04-10 09:19] micbou commented on #736
You need a more recent version of CMake (3.7 or later) to compile with MSVC 15.

[2017-04-10 09:19] #736 closed

[2017-04-10 17:15] icholy commented on #45
Here's a another candidate: https://github.com/georgewfraser/vscode-javac

[2017-04-10 18:19] puremourning commented on #45
I have tried [`vscode-javac`](https://github.com/georgewfraser/vscode-javac) and [`eclipse.jdt.ls`](https://github.com/eclipse/eclipse.jdt.ls)

After some testing and exploration, i concluded that for [my very-much-work-in-progress java completer using Language Server Protocol](https://github.com/puremourning/YouCompleteMe/tree/language-server-java), eclipse.jdt.ls was superior.

While the java-ba

[2017-04-10 18:22] puremourning commented on #45
FWIW as this is ycmd, the ycmd branch is: https://github.com/puremourning/ycmd-1/tree/java-language-server

[2017-04-10 20:45] vheon commented on #45
@puremourning just out of curiosity (no pressure here 😝 ) how much work do you think it needs to be production ready? I might start testing this since I think I will have to write a little Java code at work 😒

[2017-04-10 21:11] puremourning commented on #45
A fair bit TBH. There are quite a few hacks and quite a few things that just don't work right. Like imports (i've seen this JDT behaviour in eclim too):

<img width="550" alt="screen shot 2017-04-10 at 21 58 19" src="https://cloud.githubusercontent.com/assets/10584846/24882408/ddfe68ee-1e38-11e7-99cf-b639668e9837.png">
<img width="629" alt="screen shot 2017-04-10 at 21 58 34" src="https://cloud.gi

[2017-04-18 12:35] agauniyal opened #740 "High memory usage for ycm server process under different clients"
Hi, I use both vim as well as vscode client of ycm plugin and for some specific sources, I'm seeing a memory usage difference of about 5x times. I can email the files if someone wants to take a look at them, but can't paste them here. The vim plugin works fine and takes upto 10% of my system memory (which is expected since it uses Boost Geometry) while the vscode plugin takes upto 50-55% of my sys

[2017-04-18 14:07] vheon commented on #740
One possibility is that vscode is calling ycmd APIs more than needed. To check this what we could do is:

- create a sample.cpp with the code you're seeing this problem
- open this in vim and make a set of steps.
- save the ycmd logs
- do the same with vscode
- compare the calls to the ycmd api and check where they differ

[2017-04-19 06:57] agauniyal commented on #740
@vheon where are ycmd logs stored for vim plugin?

[2017-04-19 07:13] bstaletic commented on #740
@agauniyal Somewhere in /tmp. While in Vim type `:YcmToggleLogs` to see the log paths. There is also an option for YCM you need to enable to make it keep the logs after exiting Vim called `g:ycm_keep_logfiles`.

[2017-04-19 10:46] vheon commented on #740
@agauniyal in [CONTRIBUTING.md](https://github.com/Valloric/YouCompleteMe/blob/master/CONTRIBUTING.md) you'll find all the info you need to keep and find the log files 👍

[2017-05-10 09:27] inoc603 opened #752 "Failed to build godef"
I'm using go 1.8 on CentOS 7, and `./build.py --gocode-completer` failed with the following log:

[code]

I encountered this on osx with go1.8 as well.

I think in newer versions of go, `go build` will not work with local import. I haven't tried with older go versions.
But fixing it should be very simple. In `build.py`, use `go build godef.go` instead of just `go build`.

I'll commit a PR for this

[2017-05-10 10:59] micbou commented on #624
This was fixed upstream.

[2017-05-10 10:59] #624 closed

[2017-05-11 02:12] #752 closed

[2017-05-19 16:27] nmschulte opened #761 "allow specifying node stack size for tern completer"
tern uses recursion internally, and it would be nice to allow specifying the stack size for the node process which runs tern (`node --stack_size`)

https://github.com/Valloric/ycmd/blob/master/ycmd/completers/javascript/tern_completer.py#L369

![2017_05_19-11_26_33-1104x77](https://cloud.githubusercontent.com/assets/8540239/26257396/0f60ca56-3c86-11e7-850e-9eccea2fefba.png)

[2017-05-19 19:34] puremourning commented on #761
Could you describe what problem this is causing?

[2017-05-19 19:36] nmschulte commented on #761
Simple: tern crashes with a stack overflow condition.

[2017-05-19 20:11] puremourning commented on #761
Could you include a reproducible test case? I realise this is a burden but I'm trying to determine if we really need this to be configurable, which we'd like to avoid, or if we can just pick a solid value for all users.

[2017-05-19 20:12] nmschulte commented on #761
I'm sure I could (simple infinite recursion...), but I doubt many users are working on a project as large as I am.  I can ask the ternjs folks about a CLI flag or such.  Feel free to close the issue.

[2017-05-20 02:17] Valloric commented on #761
@nmschulte It does seem like ternjs should expose the option. Closing as per your suggestion.

[2017-05-20 02:17] #761 closed

[2017-05-20 22:48] #534 closed

[2017-05-21 16:42] jojojames commented on #534
@puremourning

The fix works for me only if I include the ycm_extra_conf along with the compile_commands.json file.

If I remove the ycm_extra_conf, it'll complain about not finding compile flags. (Same github same project).

[2017-05-21 18:31] puremourning commented on #534
Can you check the location of your compile_commands.json and that the file paths all match (and in any case include the output of `:YcmDebugInfo`) ?

In https://github.com/Valloric/ycmd/pull/680 we merged built-in support for compile_commands.json and the solution in this PR is invariant of the method used to collect the flags.

[2017-05-21 19:21] jojojames commented on #534
@puremourning

I think you're right. I'll report back if it comes up again.

[2017-05-26 03:15] jerrymarino opened #762 "Add the ability to see semantic diagnostics for Swift"
[SwiftySwiftVim](https://github.com/jerrymarino/swiftyswiftvim) already has the ability to render diagnostics so they should work in YCM too!

This is a follow up issue to [fundamental swift support](https://github.com/Valloric/ycmd/pull/487) to complete, unit test and merge [diagnostic support](https://github.com/jerrymarino/ycmd/tree/jmarino_diagnostics) end to end.

Additionally, it will requir

[2017-06-01 11:51] fatso83 opened #765 "Must specify .NET 4.5 for xbuild not to fail"
When trying to compile the version of `ycmd` (`13da3d4`) in YouCompleteMe (`6132f0b`) using the instructions for YouCompleteMe and specifying `--all` to the build script, the build fails when building OmniSharpServer. Manually updating to the latest version of `ycmd` (`379a161`) gives the same error:

[code]

It turns out I am [not the first](https://stackoverflow.com/a/38923064/200987) to have is

[2017-06-01 11:58] fatso83 opened #766 "Substitute OmniSharpServer for omnisharp-roslyn"
Work has ended on OmniSharpServer in favor of [omnisharp-roslyn](https://github.com/OmniSharp/omnisharp-roslyn). As #765 shows it no longer compiles without customization of `xbuild`, so maybe one should consider using the new kid in town?

I don't know about the effort involved, but would a PR be welcome?

[2017-06-01 12:02] bstaletic commented on #766
There was a PR open for a long time now. We closed it as it didn't make much effort. Take a look at #287. Of course, if you can help, it would be much appreciated.

[2017-06-01 12:05] mispencer commented on #766
#287 was closed in favor of https://github.com/Valloric/ycmd/pull/213, but that was incomplete as well.

[2017-06-01 12:08] vheon commented on #766
As @mispencer said we closed #213 because it was not complete (and IIRC it wasn't a switch of backend but we were supporting both OmniSharpServer and omnisharp-roslyn and we weren't super happy about it, but I might remember wrong).

From the "core" team here none of us is a C# developer so you might imagine that there is not an effort from our end on this because but

Absolutely! :+1:

[2017-06-01 12:21] fatso83 commented on #766
I see there is a whole history of changes here in the pr sections. I was just searching through the issue labels. From what I can see some of the basic problems in the roslyn version are yet to be fixed, so I guess any effort of mine here wouldn't make much of a difference, but the mentioned PRs shows where to go if one wants to help out.

[2017-06-01 12:21] #766 closed

[2017-06-01 13:00] micbou commented on #765
Thanks for the report. Specifying .NET Framework 4.5 in the build script should work for all the platforms that we support. I've sent a PR.

[2017-06-01 13:43] asdyjd opened #768 "Ycmd server is not running. Can’t send ‘semantic_completion_available’ request!"
ENV:
win10 x64, emacs 25, python3.6.1 64bit(anaconda), and latest ycmd successfuly built under visual studio 2017.
problem:
In emacs c++-mode, whatevet I type, it hints me ```Ycmd server is not running. Can’t send ‘semantic_completion_available’ request!```
*ycmd-buffer* show ```2017-06-01 20:21:29,995 - DEBUG - Global extra conf not loaded or no function YcmCorePreload```
And it's set like this:

[2017-06-01 15:03] puremourning commented on #768
Would you mind please raising hthis with the emacs-ycmd guys in the first instance? They may refer you back here with more info of course, but they are best to diagnose issues that manifest in emacs. for now closing ycmd issue. If you get referred back, just raise a new one (and include the ycmd log file too please :))

[2017-06-01 15:03] #768 closed

[2017-06-01 18:52] #765 closed

[2017-06-02 04:24] jerrymarino commented on #762
Finding a different approach for this one

[2017-06-02 04:24] #762 closed

[2017-06-06 13:59] asdyjd opened #771 "It's not working in C++-mode."
env: win10 64bit, anaconda3.6.1 64bit. emacs.
When I type something,A dialog pop up.
[code]
Before this dialog show,`ycmd-debug-show-info` is
[code]
`ycmd-server buffer`is
[code]

I compiled ycmd with this:
https://gist.github.com/asdyjd/92f9c4914f68e4bd7bc955df4c969881

It't not working in c++-mode.But it's good in python-mode.

[2017-06-06 15:31] vheon commented on #771
What does it mean "is not working"? Does the server crash? You do not get the suggestion? You have to force them? You have to be more specific on that and we need a reproducible test case for it.

I can already tell you that anaconda is not supported, so please try with cPython first.

It might be a problem of the emacs client so maybe raise an issue over their project where they probably can help

[2017-06-06 20:50] puremourning commented on #771
If libclang is asserting, report it to the clang devs. It seems a number of people are hitting libclang asserts recently

[2017-06-08 10:50] noxdafox opened #773 "Ycmd Python third party libraries missing detailed_info"
Greetings,

I updated ycmd to the latest git revision and now I cannot get the detailed information of functions and modules which do not belong to Python stdlib anymore.

The following code snipped used to show the function parameters on Emacs:
[code]

While investigating further in https://github.com/abingham/emacs-ycmd/pull/431 we noticed that ycmd was not returning detailed_info for the `reque

[2017-06-09 16:04] asdyjd commented on #771
I tried Python3 32bit and anaconda 32bit.
`ycmd-server`:
[code]
`ycmd-show-debug-info`
[code]

[2017-06-11 03:49] GumpCode opened #776 "MAC:no LC_RPATH load command with path: @executable_path/../lib"
Hi, I try to build ycmd in my mac pro, but there was an error

macOS SIERRA

`error: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/install_name_tool: no LC_RPATH load command with path: @executable_path/../lib found in: /path/to/.vim/bundle/YouCompleteMe/third_party/ycmd/libclang.dylib (for architecture x86_64), required for specified option "-delete_rpath

[2017-06-11 08:16] micbou commented on #776
Are you using the latest version of ycmd? The command `install_name_tool -delete_rpath` was removed in commit https://github.com/Valloric/ycmd/commit/907ba68a0867a76d4cb168c22821a0586f254e72.

[2017-06-11 08:44] GumpCode commented on #776
@micbou I have checked it, it solved, thank you!

[2017-06-11 08:44] #776 closed

[2017-06-12 13:11] archenroot commented on #561
Did someone fixed this for Gentoo or maybe in the CMAKE FindBoost.cmake file?

i am stil facing not with this package ycmd, but other build using CMAKE builtin FindBoost.cmake file:
[code]

Thanks for comments.

[2017-06-13 12:12] vheon commented on #771
This looks like the C-Family completer was not built. Did you pass the `--clang-completer` flag to the `build.py` script?

[2017-06-14 10:09] asdyjd commented on #771
This time I compiled it successfully with `python build.py --clang-completer`
But when I run emacs with c++-mode,there is a dialog pop up
[code]
The `ycmd-show-debug-info`is
[code]
`ycmd-server`is
[code]

Furthermore,I run `python run_tests.py --clang-completer`
It failed.The result is https://gist.github.com/asdyjd/aac13407aad043b98e7a5c8ab0272c48

[2017-06-14 11:44] vheon commented on #771
Did you compile `ycmd` inside MinGW?

[2017-06-14 12:29] asdyjd commented on #771
I installed MinGW and Cygwin32,But I put them in the end of env variables.
And just now I renamed the MinGW and Cygwin32 directory to disable them totally.
And re-compiled it. The result is the same as before.

[2017-06-21 01:11] tnielsen opened #782 "Unable to use -include-pch after updating."
I've been using ycm with precompiled headers, but after updating it's no longer working.  I have compiler_commands.json setup, and when I have the flags `['-include-pch', '/home/.../precomp.h.pch']`, they are getting corrupted.  From the debug log I see it pass in: `'-include/home/my/working/directory/-pch'`.

It looks like what's happening is that in completers/cpp/flags.py, `_MakeRelativePathsIn

[2017-06-21 02:34] micbou commented on #782
Thanks for reporting the issue.  This should be fixed by PR #783. The solution consists to check the `-include-pch` flag before the `-include` one.

[2017-06-21 08:29] #782 closed

[2017-06-30 01:12] #671 closed

[2017-06-30 23:52] mumblez opened #787 "godef.go parsing errors"
Hi,

On a mac with golang 1.8.3
Trying to update ycmd and re-install, e.g.

`brew upgrade go` - ok
inside ycmd vim plugin folder:
`git submodule update --init --recursive --remove` - ok
`./install.py --gocode-completer` - errors:

[code]

Any help would be much appreciated (was working fine before I decided to upgrade go and update the plugin)

[2017-06-30 23:54] mumblez commented on #787
think it might be related somewhat to issue #586

[2017-07-01 01:12] micbou commented on #787
Yes, that's the same issue. Don't specify [the `--remote` option](https://git-scm.com/docs/git-submodule#git-submodule---remote) when updating the git submodules:
[code]

[2017-07-01 16:38] mumblez commented on #787
@micbou Brilliant, all working, thanks 👍

[2017-07-01 16:38] #787 closed

[2017-07-02 22:28] jogo opened #788 "autocomplete missing in python for "from x import""
Based on testing with YouCompleteMe, autocomplete works for things like `import os.` but not for `from os import `.

jedi supports autocomplete for things like `from collections import ` but ycmd doesn't trigger a lookup for the `from ... import` syntax.

[code]

Can autocomplete be added for this case by adding a new default python trigger in https://github.com/Valloric/ycmd/blob/master/ycmd/comp

[2017-07-02 22:32] puremourning commented on #788
When using the YouCompleteMe client, you can force semantic completion with `<Ctrl-Space>`

![ycm-import-python](https://user-images.githubusercontent.com/10584846/27773964-6c359c78-5f7e-11e7-942b-637af79ac9b4.gif)

So this does work. I think you're asking for automatic triggering in that case, but it's a little niche.

You can [customise the triggers in YouCompleteMe](https://github.com/Valloric/

[2017-07-02 22:32] #788 closed

[2017-07-02 23:30] jogo commented on #788
Yes I was asking for automatic triggering by default. But adding a line to my config file works too.

I added `let g:ycm_semantic_triggers = {'python': ['re!from\s+\S+\s+import\s']}` to my `.vimrc` file and looks like it's working nicely.

Thank you! YouCompleteMe incredibly useful.

[2017-07-06 23:00] #670 closed

[2017-07-11 09:35] klmr opened #791 "c5ac035 breaks build on clang-3.4"
Running `./install.py` on macOS 10.10.5 with clang-3.4 (clang 3.4.2 fails with the following error message:

    <code>return {};</code>

As far as I can see, this is an actual bug, introduced in c5ac03521cfb0834b6a9c59c15fd27fb8bee35d4: the [`std::map` copy constructor in C++11 is `explicit`](https://stackoverflow.com/q/45029992/1968), initialisation by `{}` in a `return` statement is thus forbid

[2017-07-11 16:31] bstaletic commented on #791
How exactly have you invoked `./install.py`?

return FiletypeIdentifierMap{};

Have you tried this? If you're sure it would work make a PR. I know OS X bot has never complained about that line and we are supposed to support clang-3.3 and up. So if there is a problem it should be fixed.

[2017-07-11 18:03] Valloric commented on #791
This looks like a real bug to me. I thought our Travis test matrix included a build with Clang, but [that does not appear to be the case.](https://github.com/Valloric/ycmd/blob/master/.travis.yml#L13-L14) If we just add "clang" to the compiler list, this would double our test matrix which we don't want, so this will need a bit more nuance.

[Travis docs talk about this a bit.](https://docs.travis-

[2017-07-13 22:59] IngoHeimbach commented on #45
@puremourning Is there any new status on the Language Server Protocol integration in ycmd? This feature would be really awesome for gaining Julia completion in YCM since there is a working [Julia server](https://github.com/JuliaEditorSupport/LanguageServer.jl).

[2017-07-16 01:01] micbou commented on #740
No answer from OP. Closing.

[2017-07-16 01:01] #740 closed

[2017-07-17 09:02] moyotar opened #794 "Couldn't create name generator Visual Studio 15"
D:\app\emacs\extraBin\ycmd>build.py --all
Searching Python 2.7 libraries...
Found Python library: D:\app\emacs\extraBin\Python27\libs\python27.lib
Found Python headers folder: D:\app\emacs\extraBin\Python27\include
CMake Error: Could not create named generator Visual Studio 15

Generators
  Visual Studio 14 2015 [arch] = Generates Visual Studio 2015 project files.

[2017-07-17 09:03] moyotar commented on #794
I have installed Visual Studio 2015.

[2017-07-17 09:22] micbou commented on #794
You need a version of CMake that supports the `Visual Studio 15` generator. Which version are you using (`cmake --version`)? You need at least CMake 3.7. See https://github.com/Valloric/ycmd/issues/736.

[2017-07-17 09:37] moyotar commented on #794
D:\app\emacs\extraBin\ycmd>build.py --all
Searching Python 2.7 libraries...
Found Python library: D:\app\emacs\extraBin\Python27\libs\python27.lib
Found Python headers folder: D:\app\emacs\extraBin\Python27\include
CMake Error at CMakeLists.txt:26 (project):
  Failed to run MSBuild command:

    MSBuild.exe

  to get the value of VCTargetsPath:

-- Configuring incomplete, errors occurred!
See also

[2017-07-17 09:38] moyotar commented on #794
After I updated `cmake` version to 3.9. I got errors above.

[2017-07-17 09:39] micbou commented on #794
Did you select **Desktop development with C++** in **Workloads** when installing Visual Studio 2017?

[2017-07-17 09:41] moyotar commented on #794
I forgot it.

[2017-07-17 09:41] moyotar commented on #794
I forget whether if I chose.

[2017-07-17 09:51] micbou commented on #794
Run again the Visual Studio installer (you can download it [here](https://www.visualstudio.com/downloads/) in case you removed it), click on the button **Modify** and check if **Desktop development with C++** is selected in **Workloads**.

[2017-07-17 09:55] moyotar commented on #794
![image](https://user-images.githubusercontent.com/22092607/28263399-2e542c5c-6b19-11e7-984c-b2edf38c9ea0.png)

[2017-07-17 10:36] micbou commented on #794
I see. You don't have Visual Studio 15 (also named Visual Studio 2017) but Visual Studio 14 (2015). In that case, you need to select **Visual C++** in your screenshot then click on **UPDATE**. Once that's done, run the build script by specifying the right version of Visual Studio with the `--msvc` option:
[code]

[2017-07-17 10:46] moyotar commented on #794
![image](https://user-images.githubusercontent.com/22092607/28264997-2bfdae5e-6b20-11e7-8894-809fd2faf4b5.png)

[2017-07-18 05:14] moyotar commented on #794
It works. Thanks!

[2017-07-18 05:14] #794 closed

[2017-07-18 21:42] #791 closed

[2017-07-19 01:35] moyotar opened #797 "Problem in completion of c#."
When editing a `c#` file, I got this from `*ycmd-server*`.

RuntimeError: OmniSharp server binary not found at D:\app\emacs\extraBin\ycmd\third_party\OmniSharpServer\OmniSharp\bin\Release\OmniSharp.exe. Did you compile it? You can do so by running "./install.py --omnisharp-completer".

And I couldn't find `install.py` to install `OmniSharp`.

[2017-07-19 01:35] aldanor opened #798 "build.py on Linux via pyenv virtualenv broken in ff770b4"
I'm trying to build YCM on Ubuntu with pyenv-installed Python 3 (built with `--enable-shared`), in a separate virtualenv (so `libpython3.so` is not located in the prefix directory, but in the parent lib directory).

However, it complains that it can't find dynamic libraries. I've checked, it used to work fine up until and including commit 5ffe1bfdc9c026d289081e9442f07ab03021189f, but is then broke

[2017-07-19 07:48] micbou commented on #797
Use the `build.py` script:
[code]

[2017-07-19 07:48] #797 closed

[2017-07-19 08:32] moyotar commented on #797
![image](https://user-images.githubusercontent.com/22092607/28358014-e0c4054c-6c9f-11e7-91f4-ee3fb5faf8b9.png)
How to solve it?

[2017-07-19 08:39] puremourning commented on #797
The YCM docs explain the dependencies you need to install. Just replace install.py with build.py when building ycmd directly.

[2017-07-19 08:46] micbou commented on #797
You need to [add MSBuild to your PATH](https://stackoverflow.com/a/12608705).

[2017-07-19 08:53] moyotar commented on #797
@micbou Yes! Thanks a lot.

[2017-07-19 08:57] micbou commented on #798
Thanks for the report. This should be fixed by PR #799. Could you try it?

[2017-07-19 18:18] #798 closed

[2017-07-21 07:58] Al-Nibras opened #801 "TypeError: Key must be a buffer"
at new Hmac (crypto.js:91:16)
	at Object.Hmac (crypto.js:89:12)
	at generateHmac (/Users/al-nibras/.atom/packages/you-complete-me/lib/handler.coffee:102:12)
	at signMessage (/Users/al-nibras/.atom/packages/you-complete-me/lib/handler.coffee:113:65)
	at /Users/al-nibras/.atom/packages/you-complete-me/lib/handler.coffee:164:7

I get this message when I start Atom. I've installed ycmd and Atom plugin

[2017-07-21 08:01] puremourning commented on #801
Could you raise it with the guys who make the atom plugin? Looks like an issue there rather than with ycmd

[2017-07-21 08:01] #801 closed

[2017-07-28 00:21] puremourning commented on #45
@IngoHeimbach work on the java completer is progressing (slowly). i've updated the support status  above.

language server protocol implementation is inline with the features needed for that, but is strictly independent of jdtls (i have working POC for clangd and a different java server). Supports TCP and stdio communication.

[2017-07-30 13:12] ekr opened #805 "Crash under ycmd-emacs"
On Mac Sierra, I get the following crash. Any insight or suggestions for debugging/more info?

Thread 0 Crashed:: Dispatch queue: com.apple.main-thread
0   libsystem_kernel.dylib        	0x00007fffd9910d42 __pthread_kill + 10
1   libsystem_pthread.dylib       	0x00007fffd99fe457 pthread_kill + 90
2   libsystem_c.dylib             	0x00007fffd9876420 abort + 129
3   org.python.python             	0

[2017-07-30 22:44] puremourning commented on #805
Did you compile Python with --enable-framework? There's an FAQ on it on the YCM README. Basically we need a dynamically linked Python rather than statically linked.

[2017-07-30 23:29] ekr commented on #805
I did not, I just let Homebrew do it. I don't see a flag for it on Homebrew, but maybe there is one? Can build by hand of course...

[2017-07-31 08:30] puremourning commented on #805
https://github.com/Valloric/YouCompleteMe/blob/master/README.md#i-get-fatal-python-error-pythreadstate_get-no-current-thread-on-startup

I would recommend avoiding homebrew Python and use the system Python on macOS.

[2017-07-31 08:30] #805 closed

[2017-07-31 17:59] ekr commented on #805
Unfortunately, I see the same behavior with "/usr/bin/python" as the command.

[2017-07-31 18:22] puremourning commented on #805
As which command ?

Sorry perhaps the FAQ entry wasn't clear - you need to _build_ ycmd against a Python which is built with `--enable-framework`, so the usual recommendation on macOS is to stop homebrew from overriding the system python with `brew unlink python` and then rebuild ycmd.

[2017-07-31 18:36] ekr commented on #805
That worked. Thanks!

[2017-08-01 09:13] moyotar opened #806 "How to auto complete with only pyd file but without .py file?"

[2017-08-01 09:30] bstaletic commented on #45
@puremourning I may try your fork soon. Just a few questions.

Is it done or does it still throw an error?

Will you wait until you make the "strtch goals" work before making a PR or will you be posting (fingers crossed) a PR once you finish the "Standard features not yet implemented"?

P.S. I may decide to help you with the implementation/tests. But not promising anything.

[2017-08-01 09:40] vheon commented on #806
I'm not sure if [jedi](https://github.com/davidhalter/jedi) can, but if it can't we can't do it either.

[2017-08-01 09:55] puremourning commented on #45
@bstaletic cool!

I fixed the comment - `GetType` should work without an exception.

Stretch goals won't be in any initial PR (it's already too big TBH) unless they are necessary to make some basic functionality work properly (such as async diags, post-complete-fixits)

For ref, you'll need:

* [ycmd branch](https://github.com/puremourning/ycmd-1/tree/java-language-server)
* [YCM branch](https://g

[2017-08-01 10:04] bstaletic commented on #45
Okay, thanks.
The pull request is huge. Have you thought about splitting it into language server part and java part?
Also the "standard features no yet implemented" are non essential. Would you consider making a pull request without those? I'm only asking because this will be a pain to review.

[2017-08-01 10:38] puremourning commented on #45
Yes, when it is finalised (it's still evolving now), i will split it into reviewable pieces (to the extent that is possible)

[2017-08-02 08:08] xinquanatcolezhu opened #807 "ycmd server wont start because it can't load clang.so.4 - which exists"
As my current CentoOS's libstdc++.so version does not have GLIBCXX_3.4.20, which is required by the downloaded libclang from the build script . I have to build ycmd using my system libclang

`./build.py --clang-completer --system-libclang`

The building process was successful but when i try to run ycmd with below command it gives me error could not find the libclang.  but the clang.so exists in my

[2017-08-02 11:06] micbou commented on #807
What's the output of the following commands:
[code]
?

[2017-08-02 16:13] micbou commented on #806
This can be done by adding the folders containing the `.pyd` files to the `PYTHONPATH` environment variable. However, I think it would be more convenient if there was a way to manipulate Jedi search path  (`sys.path`) at a project level. It could be through the `.ycm_extra_conf.py` file similarly to what was suggested in PR https://github.com/Valloric/ycmd/pull/425:
[code]

[2017-08-02 20:25] o01eg commented on #561
@archenroot It possible to manually set cmake variables for boost's python library.
You could look there https://bugs.gentoo.org/show_bug.cgi?id=586776

[2017-08-02 22:52] vheon commented on #806
@micbou you had a prototype for the `.ycm_extra_conf.py` right? how about we discuss it further in a PR? 😜

[2017-08-02 23:33] xinquanatcolezhu commented on #807
thanks so much for the hints!! somehow my libclang.so is not in the ldconfig cache!!!  how did that happen?

[xinquan.zhu@jpdla00071 ~]$ objdump -x  /home/AD/xinquan.zhu/s/ycmd/ycm_core.so | grep RPATH
  RPATH                /usr/lib64/python2.7/config

[xinquan.zhu@jpdla00071 ~]$ ldd /home/AD/xinquan.zhu/s/ycmd/ycm_core.so
	linux-vdso.so.1 =>  (0x00007ffeb57ae000)
	libpython2.7.so.1.0 => /lib64/l

[2017-08-03 03:54] xinquanatcolezhu commented on #807
and my system libclang is at

[code]

[2017-08-03 06:18] moyotar commented on #806
@micbou Thanks a lot! How about a `*.dll` file

[2017-08-03 10:45] zonyitoo commented on #771
I have encountered the same problem in my project. My project has a quite huge code base.

Environment:

- YouCompleteMe: latest master commit
- libclang 4.0.1

Relevent logs

[code]

[2017-08-03 11:30] micbou commented on #807
Could you try adding the directory containing `libclang.so` to the `LD_LIBRARY_PATH` environment variable?

[2017-08-03 11:33] micbou commented on #806
A `.dll` file? Can you give an example?

[2017-08-03 11:54] moyotar commented on #806
There's a `.dll` file written by `c++`. Now to import it in `python`, is there a way to complete it's `api`

[2017-08-03 12:02] micbou commented on #806
How are you importing the `.dll` in Python?

[2017-08-03 12:13] moyotar commented on #806
Use [ctypes](https://docs.python.org/2/library/ctypes.html?highlight=ctypes#module-ctypes) module.

[2017-08-03 12:37] micbou commented on #806
I've built the library `hello.dll` from the following source:
[code]
then tried to complete it by loading the library with `ctypes` through the Jedi API:
[code]
Jedi returns a bunch of candidates but not the `hello` function so I guess that's a Jedi limitation.

[2017-08-03 13:21] Skiouros opened #809 "Tags for custom languages?"
Unless I'm doing something wrong, ycmd doesn't seem to be adding tag completion to my output for moonscript. I'm using  [emacs-ycmd](https://github.com/abingham/emacs-ycmd) for the completion. I'm generating the tag file using `--fields=+l` but it doesn't want to work. It works fine with lua, so I'm not sure what else I need to do.

This is the generated tag file:
[code]

[2017-08-03 13:41] xinquanatcolezhu commented on #807
thanks so much!!! . i solved the problem by adding it. but now it gives another error
I just copied the extra_conf.py from github somewhere, when I open a c++ file in emacs
This c++ file is under a project which has cmake compile_commands.json files (my cmakefile has external projects)

I got confused where can i specify the compile_commands path to ycmd so that it reads it and parse my source cod

[2017-08-03 21:32] micbou commented on #807
This is explained in [this section of the docs](https://github.com/Valloric/YouCompleteMe#option-1-use-a-compilation-database):

Given that, you could create a symlink of the `build/compile_commands.json` file at the root of your project. Another solution is to copy your `.ycm_extra_conf.py` file to the project root and set the variable `compilation_database_folder` to the absolute path of the `bu

[2017-08-05 08:11] #809 closed

[2017-08-05 09:56] micbou commented on #809
Thanks to PR #810, ycmd now supports custom languages from tags. However, I think that some changes in emacs-ycmd are required to take advantage of that. You'll need to recompile ycmd too.

[2017-08-05 11:58] davidhalter commented on #806
@vheon You can probably close this one. Discussions should be in davidhalter/jedi#949.

It's definitely not a ycmd issue, it's 100% Jedi.

[2017-08-05 12:48] puremourning commented on #806
Ok thanks!

[2017-08-05 12:48] #806 closed

[2017-08-08 02:12] zuohai0 opened #813 "sha256 value mismatching(file——./third_party/ycmd/clang_archives/clang+llvm-4.0.1-x86_64-apple-darwin.tar.xz)"
sha256 value
CMakeLists.txt-line 38: 5f697801a46239c04251730b7ccccd3ebbacb9043ad381a061ae6812409e9eae
actual：e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855

It caused installation failed(I modified CMakeLists.txt , and succeeded , but now I worry about its security  a little) , please have it examined。

Thanks！

[2017-08-08 02:29] Valloric commented on #813
If you're in China, this is likely the GFW messing with your downloads. Nothing we can do about it.

[2017-08-08 02:29] #813 closed

[2017-08-09 13:01] xinquanatcolezhu commented on #807
thanks . I followed your suggestions

`compilation_database_folder = '/home/AD/xinquan.zhu/oms/build/'`

where the build folder has compile_commands.json file

then set my global-config file

`(set-variable 'ycmd-global-config "/home/AD/xinquan.zhu/oms/ycm_extra_conf.py")`

when  i open the srouce code under my oms/ it does not work. it gives me below error in my emacs mini-buffer

when i open the

[2017-08-09 17:08] micbou commented on #807
Could you paste the output of the command `ycmd-show-debug-info` while editing one of your C++ files?

[2017-08-09 23:36] xinquanatcolezhu commented on #807
its quite strange, for example, if I run a random type ycmd-get-type

the mini-buffer shows

however the *ycmd-debug-info* does not give much information

[2017-08-10 20:08] micbou commented on #807
So, the ycmd server is running but the emacs client is unable to connect to it. Run the following command in a terminal:
[code]
where `{port}` is the port displayed in `ycmd-debug-info`. This command should return:
[code]
Then check that the ycmd logfile shows the message:
[code]
If that's the case then it's a problem with the emacs client and you should [open an issue there](https://github.com/ab

[2017-08-11 02:19] xinquanatcolezhu commented on #807
thanks!!! I figured out that my company have this proxy blocking all the http reqeust
After I set the environment

export no_proxy="localhost,127.0.0.1"
the  `{"exception": null, "traceback": null, "message": "None"}` comes back.

however, I have got libclang crashed in my ycmd-server buffer  :-(

[code]

:(

[2017-08-11 03:54] zonyitoo commented on #771
@vheon Can I have you attention? What could I do for help?

This bug bothers me a lot. I have no completion now...

[2017-08-11 23:02] vheon commented on #771
@zonyitoo you encounter a crash of libclang so something in your code makes it crash. there is no solution on our hand except finding a minimal reproducible case and send it to the libclang devs for them to fix libclang.

[2017-08-12 11:21] micbou commented on #807
Recent versions of emacs-ycmd take care of that. See PR https://github.com/abingham/emacs-ycmd/pull/438.

Could you open a new issue with a minimal testcase (C++ file and compilation flags) that reproduces the crash? I am closing this one since the initial issue is resolved.

[2017-08-12 11:21] #807 closed

[2017-08-12 14:19] zonyitoo commented on #771
@vheon Ok, Thanks.

[2017-08-15 06:34] zonyitoo commented on #771
@vheon I have tried to recompile ycmd with clang3.9.1, 4.0.0, 4.0.1, but still crashed on the same error. It works fine with a old version of YouCompleteMe (ycmd) and clang 3.9.1.

So I don't think it is clang's fault.

I don't know exactly which commit I was on ... But I remember that version of YouCompleteMe `python/ycm/client/completion_request.py` has a global defined timeout in it.

[2017-08-15 20:32] vheon commented on #771
What do you mean by this? That you recompiled ycmd with different versions of clang? Well that would not change the version of libclang that we use since that is pinned to a specific version. If you have tried an older version of YouCompleteMe that used an older version of libclang and you do not reproduce the problem than probably is a regression in libclang but still not in YCM hands.

[2017-08-16 02:27] zonyitoo commented on #771
@vheon Hmm, I passed the `--system-libclang` to `install.py`. Because I was running on a customized Linux distribution. The `libclang` is built from source.

What I tried:

1. Older version of YouCompleteMe with
    - clang 3.9.1 -- Ok
    - clang 4.0.0 -- Ok
    - clang 4.0.1 -- Ok
2. Latest version of YouCompleteMe (master) with ycmd (`6463774`)
    - clang 3.9.1 -- Crashed
    - clang 4.0.0 --

[2017-08-16 09:45] puremourning commented on #771
If building from source, disable asserts in clang when you build. Use Release rather than RelaseWithAsserts

[2017-08-16 09:47] zonyitoo commented on #771
Is it Ok to remove those asserts?

[2017-08-16 12:50] puremourning commented on #771
i think you want `-DCMAKE_BUILD_TYPE=Release`. You should ensure that the generated `LLVM_ENABLE_ASSERTIONS` is `OFF`.

Your testing is odd though. The only thing that changed in patch 655cc309 was something in our CI environment.

If you still have problems, try doing a git bisect to find which commit you think is changing it.

[2017-08-16 12:51] puremourning commented on #771
Also, if you can make a reproducible test case, then we can debug. But without that we're poking in the dark. Disabling assertions will certainly make the problem go away, but wn't fix the libclang or ycmd issue (whichever exists)

[2017-08-16 12:58] zonyitoo commented on #771
What I mean is that the **OLD** version that i was talking about is at commit 655cc309.

I can't make a minimal reproducible case. Because it only happens in our project, and it is very huge (with >100w lines of code). I don't even know which line of code make it crashed, and it just crashed somehow.

So I think some changes between 655cc309 -> master triggered this assertion.

BTW. I have tried `

[2017-08-16 13:04] puremourning commented on #771
ok well set `-DLLVM_ENABLE_ASSERTIONS=OFF` then.

if you go the git bisect, then we can help. there have been a lot of commits since 8 Nov 2015

[2017-08-16 13:06] zonyitoo commented on #771
Ok. bisecting

[2017-08-17 11:16] troubas commented on #101
Leaving this here as I haven't found a good workaround anywhere and the issue seems to persist.

An easy way to get OmniSharp running is to create an empty .sln file in the working directory.

[2017-08-21 08:46] #773 closed

[2017-08-22 06:45] noxdafox commented on #773
Tested and working. Thanks.

[2017-08-23 15:47] sygi opened #817 "YouCompleteMe unavailable: 'encoding' is an invalid keyword argument"
I got an error after installing YouCompleteMe that seems to be within ycmd. As far as I understand, the
[open](https://github.com/Valloric/ycmd/blob/master/ycmd/utils.py#L58) call assumes it is executed in python3, but for some reason it is called by python2 here. Full error:
[code]

Could we substitute this (and subsequence) calls to [io.open](https://docs.python.org/3/howto/pyporting.html#text-v

[2017-08-23 16:11] micbou commented on #817
Could be the same issue as https://github.com/Valloric/YouCompleteMe/issues/2262 (which was caused by a conflict with the flake8-vim plugin). To know if that's the case, could you paste the output of the command
[code]
in Vim?

[2017-08-23 16:26] sygi commented on #817
Thanks for taking a look at this. It doesn't seem I have flake8-vim:

[code]

[2017-08-23 19:04] micbou commented on #817
Those lines:
[code]
in the Python path are probably causing the issue. [Pies](https://github.com/timothycrosley/deprecated.pies) and [python-future](https://github.com/PythonCharmers/python-future) conflict with each other; the latter being used by YCM for Python 2 and 3 compatibility.

We need to know where those paths
[code]
come from. What's the value of the `PYTHONPATH` environment variable
[c

[2017-08-23 20:07] sygi commented on #817
I remember installing frosted myself. It seems that it depends on pies:
https://pypi.python.org/pypi/frosted/1.4.1. I assume that the workaround is
to remove frosted?

On 23 August 2017 at 20:04, micbou <notifications@github.com> wrote:

[2017-08-23 20:29] micbou commented on #817
Yes, that should work. You could replace it with [pyflakes](https://github.com/PyCQA/pyflakes). Frosted doesn't seem to be actively maintained.

[2017-08-23 20:32] #817 closed

[2017-08-23 20:32] sygi commented on #817
Ok, thank you for the help.

On 23 August 2017 at 21:29, micbou <notifications@github.com> wrote:

[2017-09-02 22:19] diamond-lizard opened #828 "Allow getting hmac_secret from a command rather than a file"
It would be great if the hmac_secret could be read from the stdout of a command rather than from a file.  That way the user would not have to take any special precautions for storing the ycmd settings file, and could rely on a tool like [pass](https://www.passwordstore.org/) to securely store and retrieve the secret.

[2017-09-05 22:01] puremourning commented on #45
project status tracking here. https://trello.com/b/Y6z8xag8/ycm-java-language-server

hoping to start pushing PRs soon. it's a big project and quite a lot of complex new stuff, so it's going to take a while!

[2017-09-10 09:05] micbou commented on #771
@asdyjd @zonyitoo Could you try again with the latest version of ycmd? A new version of Clang (5.0.0) is available.

[2017-09-10 14:37] zonyitoo commented on #771
1. I have failed to locate the problem by `bisect`, because not every commits between the master and the one I was using are working (lots of mysterious errors). It just failed to run, and I don't know why.

2. I just compiled clang5.0.0, and it works fine right now. I will continue test it in my projects and see if crashes can be reproduced.

[2017-09-10 14:39] puremourning commented on #771
FWIW, we're pretty sure that the issue was in libclang, and that libclang 5.0.0 will resolve it ;)

[2017-09-18 12:12] duytrung opened #836 "Error merging unrelated history"
Hi,

I have the following error running "PlugUpdate" with neovim and "vim plug" on windows 10, for "ycmd":

![image](https://user-images.githubusercontent.com/2046672/30541340-215375a8-9cba-11e7-93fd-7ce0509fff31.png)

Please tell me how to fix this.

Thanks

TN

[2017-09-18 12:38] puremourning commented on #836
That gives us _nothing_ to go on.

Here's a start: what is the output of the following commands in your 'ycmd' directory. It should be under `third_party/ycmd` within your `YouCompleteMe` directory created by your plugin manager:

* `git status`
* `git remote -v`
* `git pull`

What is the vim-plug configuration you are using for YouCompleteMe?

[2017-09-21 01:54] AoZhang opened #838 "how can I export a specific libc.so.6 for ycm_core.so"
I install YouCompleteMe with the following commands:
[code]
And it seems that everything goes ok. when I'm trying to edit a python file, some error happens:

[code]

I'm using CentOS 6.3, and the version of the default glibc is 2.12.

If I set LD_LIBRARY_PATH to the path of /path/to/gcc-4.8.2/lib, it becomes worse.
[code]

Can I setting the specific glibc only for ycm_core.so? thanks.

[2017-09-21 07:37] micbou commented on #838
You need a more recent version of glibc. Did you see this message:

when running the `install.py` script without adding a newer GCC to `PATH`?

[2017-09-21 07:43] AoZhang commented on #838
I've added the gcc 4.8.2 to the PATH before running `install.py`. The error happens while I'm coding in vim.

And I have no permission to install any dev-tool into the system pathes.

[2017-09-21 07:47] micbou commented on #838
So, when running `install.py` for the first time, you didn't see the message I mentioned (that tells the user to install devtoolset-6)? Did you only see the error:
[code]
?

[2017-09-21 08:05] AoZhang commented on #838
I got no errors when running `install.py`. here's all the log:
[code]

[2017-09-21 08:24] puremourning commented on #838
How did you install gcc? Our wiki has a guide for centos 6 and we recommend dev-toolset 6 as the red hat supported toolchain.

[2017-09-22 03:56] AoZhang commented on #838
the gcc4.8.2 was installed by the system administrator, which contains all the tool-chain, like g++, ld, ar and so on.

[2017-09-22 11:46] micbou commented on #838
What happens if you go to the `~/.vim/bundle/YouCompleteMe/third_party/ycmd` folder and run the command:
[code]
? It should return `True`.

[2017-09-23 08:33] davits commented on #838
Another way is to create symlinks in your ycmd directory.
For example: libgcc_s.so.1 -> /path_to_gcc/gcc-5.2.0/lib64/libgcc_s.so.1
Also run ldd ycm_core.so and see if any of the dependent libraries is resolved incorrectly.

[2017-09-24 11:55] micbou commented on #771
Fixed by PR https://github.com/Valloric/ycmd/pull/832.

[2017-09-24 11:55] #771 closed

[2017-09-24 12:09] micbou commented on #653
Let's close as an Atom client issue.

[2017-09-24 12:09] #653 closed

[2017-09-25 02:03] AoZhang commented on #838
@micbou :
after running the command

I got a segmentation fault, because the python which I'm using is compiled by the system gcc(4.4.6).
[code]

[2017-09-25 02:26] AoZhang commented on #838
@davits
I create some symlinks, but it seams that it has no help to me. here's the `ldd` result
[code]

[2017-09-25 21:16] rbit opened #844 "Xcode 9 Support"
Xcode 9 modifies system header include paths. ycmd/completers/cpp/flags.py no longer produces a proper system include path sequence on systems that have upgraded to/installed Xcode 9.

On my system, `clang -v -E -x c++ -` produces the following:
[code]

[2017-09-26 05:00] iamkarlson opened #845 "start ycmd automatically without vim"
ycmd server is starting quite long on my machine. is it any way to run this server with system and then just "connect" to already started instance?

[2017-09-26 07:24] micbou commented on #828
Sorry but this doesn't seem worth implementing (and maintaining) especially since the only precaution you need with the options file is to create it with permissions 600.

[2017-09-26 07:24] #828 closed

[2017-09-26 07:29] micbou commented on #845
No, ycmd is not designed to be started without a client. How long does it take on your machine? It takes about ~220ms on mine. You can measure the startup time by running the `startup.py` script in [this branch](https://github.com/micbou/ycmd/tree/profiling-startup).

[2017-09-27 06:21] moyotar opened #846 "Can't get semantic completion in c++ file."
For more detail [here](https://github.com/abingham/emacs-ycmd/issues/447)

[2017-09-27 11:33] bstaletic commented on #846
Let's make things clear first. Ycmd downloads a precompiled `libclang.so` unless you pass `--system-libclang` to the `build.py` script. So if you've built ycmd with `./build.py --clang-completer`, you are using whatever version of libclang ycmd downloaded, not your system libclang.

Now libclang 4.0 had problems on Windows. Asserts were all too easy to fail for whatever reason. If you are on Windo

[2017-09-27 11:45] maximus8891 opened #847 "Using TypeScript for filetype javascript"
Method [PathToFiletypeCompleterPluginLoader](https://github.com/Valloric/ycmd/blob/master/ycmd/completers/completer_utils.py#L162) searches for completers for a given filetype by their folder names. This way you can't have several completers handling one filetype.

I discovered this while I was looking for ways to apply the TypeScript completer for javascript files abandoning Tern altogether (it d

[2017-09-27 11:50] bstaletic commented on #847
The thing is, we don't want to support more then one completer per filetype.  It would be a big maintainance burden.

What we do want, though, is having the best available completer for a certain filetype. So even though we won't be making the suggested change, I think this is a good opportunity to discuss if we should use TSserver for javascript and abandon Tern.

Let me ask the first question. I

[2017-09-27 12:07] maximus8891 commented on #847
Tern does not support class properties: https://babeljs.io/docs/plugins/transform-class-properties/. They are in-built in Typescript.

For me TSserver required no config, unlike Tern, which wanted for some reason to have .tern-project file. I found it hard to find docs and examples for Tern.

With my js project setup TSserver found definitions in various files, while Tern could not handle it.

The

[2017-09-27 12:09] micbou commented on #847
I created [a branch that enables TSServer for JS files](https://github.com/micbou/YouCompleteMe/tree/tsserver-javascript) so that we can easily compare both engines ([TSServer](https://github.com/Microsoft/TypeScript/wiki/Standalone-Server-(tsserver)) and [Tern](http://ternjs.net/)). Feel free to try it and report back.

An obvious advantage for TSServer is that it has built-in diagnostics while T

[2017-09-27 12:16] ptrv commented on #846
emacs-ycmd does not have ycmd as submodule like YouCompleteMe. The user has to update ycmd him/herself

[2017-09-27 12:19] bstaletic commented on #846
@moyotar Can you try building the latest ycmd and trying it inside emacs?
Even though I am fairly certain it's just libclang misbehaving, it would be nice to have it either confirmed or disproved.

[2017-09-27 12:27] moyotar commented on #846
It works. Thanks a lot!

[2017-09-27 12:27] #846 closed

[2017-09-27 12:50] maximus8891 commented on #847
Thanks @micbou, I'll give it a whirl.
I also managed to make it work by copying the content of typescript folder into the javascript folder.

[2017-09-27 14:37] puremourning commented on #847
Are class properties a JavaScript language feature? Have you asked the tern people about supporting it?

[2017-09-27 17:11] maximus8891 commented on #847
@puremourning Class properties are part of the [unified class features proposal](https://github.com/tc39/proposal-unified-class-features#field-declarations).

No, I haven't asked for the feature at the Tern repo.

[2017-09-29 20:39] noxdafox opened #849 "Rust completion Server Error from racerd"
Greetings,

I am running Ycmd with emacs. Ycmd and emacs-ycmd are up to date.

Tried both rust from Debian package (version 1.19) and from the official installer (version 1.20).

The rust source is correctly installed via `rustup`.

This is the ycmd output.

[code]

 Is there a way I can get the racerd logs? That would help clarifying the issue.

[2017-09-29 20:42] noxdafox commented on #849
Found an issue which could be related: https://github.com/abingham/emacs-ycmd/issues/354

[2017-09-30 18:18] micbou commented on #849
Run the `ycmd-show-debug-info` command while editing a Rust file. You'll find the paths to the racerd logfiles on the line:
[code]
By the way, could you paste the full output of the command here?

[2017-09-30 21:38] noxdafox commented on #849
That's a good tip thanks! Did not expect logs to end up in `/tmp`

Racerd output:

[code]

Logs are full of these messages:

[code]

[2017-09-30 22:30] micbou commented on #849
Thanks. I think you are experiencing issue https://github.com/jwilm/racerd/issues/45.

[2017-09-30 22:32] noxdafox commented on #849
Yes I was suspecting it was related as the issue https://github.com/abingham/emacs-ycmd/issues/354 points towards the same direction. Is there any available workaround?

[2017-09-30 22:52] micbou commented on #849
You could try to apply the changes in PR https://github.com/jwilm/racerd/pull/63 (only the changes in `Cargo.toml` and `src/http/mod.rs` are needed) then recompile racerd with the command:
[code]

[2017-10-01 08:34] micbou commented on #838
You may have to recompile Python with your version of GCC. Anyway, the issue tracker is not for technical support.

[2017-10-01 08:34] #838 closed

[2017-10-01 08:54] noxdafox commented on #849
Applying the changes fixed the issue. Thanks!

I guess it's better to keep the ticket open until the issue is not fixed upstream.

[2017-10-02 10:30] micbou commented on #836
No answer. Closing.

[2017-10-02 10:30] #836 closed

[2017-10-05 03:54] mellery451 commented on #844
cpp completion is completely broken for my on my system with the latest XCode installed (apple-clang 9.0.0). All my compilation units fail to find stdlib headers/symbols when YCM tries to build them. On the other hand, the CU's build just fine under the actual XCode clang compiler. Strange.

[2017-10-08 17:28] #844 closed

[2017-10-10 00:30] micbou commented on #845
It would have been interesting to have some measurements on startup time. Though, I would be surprised if it took more than a few seconds.

[2017-10-10 00:30] #845 closed

[2017-10-14 21:18] micbou commented on #314
Once PR #857 is merged, we may consider [LanguageServer](https://github.com/mtsmfm/language_server-ruby).

[2017-10-16 13:24] lorry-lee opened #858 "The python process locks my c++ header file."
I don't have a specific reproduce step, when I try to delete one of my header file, I found it's locked by Python dll from ycmd. Is that normal?
I'm on windows 10, vim 8, python3.5 32bit, ycmd code version is 31.

[2017-10-16 19:53] micbou commented on #858
It's most likely caused by libclang. What's the output of `:YcmDebugInfo`?

[2017-10-19 15:33] crisidev commented on #314
@puremourning do you mind to share your work on integrating ycmd with rsense? I know it is not a perfect solution, but I would like to take a look to it.

[2017-10-19 17:42] puremourning commented on #314
Jeez, that was a long time ago. If it isn't in a branch in my fork, then it is _long gone_

[2017-10-20 03:00] joelhock opened #859 "clang diagnostics location_extent zeros when source has a certain type of error"
ycmd commit is a12a0a3a85 on mac, but also happens with older 2e625157631

This might be a libclang bug, but with a source file with errors such as this, the `location_extent` values for all diagnostics are zeros.

[code]

diagnostics look like:

[code]

[2017-10-20 21:14] micbou commented on #859
Thanks for the example. Should be fixed by PR #860.

[2017-10-22 21:49] #859 closed

[2017-10-29 13:57] crisidev commented on #314
@puremourning thanks. I searched but unfortunately the branch seems gone. I am playing with eclim and ycmd with ruby, which works quite well. I just need to figure out how to automate a bit project creation and library inclusion..

[2017-10-30 01:52] froody opened #866 "Expose CXCodeCompleteResults object and wrappers for clang_codeCompleteGet* to Python"
Currently CXCodeCompleteResults is hidden from Python, but I'd like to be able to access it to provide more accurate completions, for example:

- Inspecting clang_codeCompleteGetContexts in ShouldUseNowInner, I can test for CXCompletionContext_ObjCInstanceMessage and then return True, showing a completion for the current objc selector
- Calling clang_codeCompleteGetObjCSelector allows me to strip

[2017-10-30 18:29] #702 closed

[2017-11-01 16:55] ngmgit opened #867 "c++ include autocomplete working only if triggered via Ctrl+space and autocomplete not working, debug log has no errors."
I followed the readme and faq to setup ymcd with vscode.
I compiled it with --clang-completer and everyhing went well and vscode can successfully establish connection with ymcd in the provided path.

statements like `include <vec` doest work and no results are shown and the debug log says 200 success.
The local headers auto completion works fine.

I even followed the faq to setup the include path

[2017-11-01 17:07] micbou commented on #867
There is an error in your `.ycm_extra_conf.py` file. You are appending [the system includes to `flags` instead of `final_flags`](https://gist.github.com/ngmgit/b392e85491d24b28866e5dc49d51dcf7#file-ycmd-conf-L153-L155).

[2017-11-01 17:11] ngmgit commented on #867
@micbou iam really sorry for that. Yes now it works but for std c++ includes i have to press Ctrl+space.

[2017-11-01 17:38] ngmgit commented on #867
![screenshot_20171101_230707](https://user-images.githubusercontent.com/10939602/32288289-74569f8e-bf59-11e7-81d6-d0d91d61e290.png)

[2017-11-02 11:39] micbou commented on #858
No answer. Closing.

[2017-11-02 11:39] #858 closed

[2017-11-03 15:31] dseuss opened #871 "OnInsertCompletion event?"
I am currently writing a completer for ycmd, which needs to perform an additional action once the user has inserted a completion from the list of candidates. What would be the best approach to this:

1. add a `OnInsertCompletion` function to the `Completer` base class, which then get's called.
2. add a user command, which get's called through some editor-specifc code, e.g. write a vimscript that c

[2017-11-03 15:39] puremourning commented on #871
It really depends on what sort of action do you need to perform?

ycmd protocol supports an `extra_data` parameter on the `completion` response. This can be used to perform additional _stuff_ in the client.

YCM (the Vim client) supports this currently for automatically adding import statements for c-sharp, and in the (upcoming) [Language Server - Java](https://github.com/Valloric/ycmd/pull/857) P

[2017-11-03 15:51] dseuss commented on #871
Thanks, I'll have a look. It is probably already what I am looking for.

Here is some background info: It's supposed to be a completer for LaTeX/Bib (bib is a format for handling citations in LaTeX). The candidates are pulled from a database (such as Zotero). When we have selected a candidate, we need to put it's details into a separate file (the bib file).

[2017-11-06 06:15] rexdf opened #872 "FilterAndSortCandidates unicode support"
Open  `ycmd/tests/testdata/filename_completer/inner_dir/test.cpp`  with vim, vim cannot get unicode filename completion.

[code]

I tried `'insertion_text': b'foo漢字.txt'` and `'insertion_text': 'foo漢字.txt'.encode('gbk')` , it did not work neither.

python version is 3.6.3 x64 .  Is there any plan to support Unicode in `class Candidate` of the cpp codebase?

[2017-11-10 09:10] numbcoder commented on #314
@puremourning I find this https://github.com/castwide/solargraph
It's looks better than rsense

[2017-11-17 17:22] ekratzer opened #874 "-idirafter is missing from the supported INCLUDE_FLAGS for the cpp completer"
"-idirafter" is a valid clang include flag but is not supported by ycmd's cpp completer.  This causes problems when compilation databases use things like "-nostdinc" and try to specify alternate includes using "-idirafter".

The fix is to add "-idirafter" to the INCLUDE_FLAGS list in ycmd/completers/cpp/flags.py:

INCLUDE_FLAGS = [ '-idirafter', '-isystem', '-I', '-iquote', '-isysroot', '--sysroot

[2017-11-17 17:35] bstaletic commented on #874
Thanks for reporting this. Would you open a PR with this fixed? Some tests would be required as well.

[2017-11-19 11:22] sztomi commented on #515
@Valloric It does seem like Language Server Protocol took off: https://langserver.org/

[2017-11-19 11:48] bstaletic commented on #515
@sztomi Take a look at the PRs. There is one that implements jdt.ls support.

[2017-11-19 11:59] sztomi commented on #515
@bstaletic You misunderstand. That PR adds a Language Server **Client** to YCMD, while this issue we are commenting on proposes that YCMD implements the Language Server Protocol so that all editors that support LSP can be YCMD clients.

[2017-11-19 13:02] puremourning commented on #515
how many editors are there that would benefit from this ? pretty sure someone already wrapped ycmd with a LS clone for vscode.

anyway, what Val said originally stands:

Indeed implementing it requires a significant change of ethos for the API and that would actually make client implementations more difficult. In particular, the Vim client which is the one we maintain.

[2017-11-19 13:08] sztomi commented on #515
https://langserver.org/ lists editor support.

Most ycmd clients apart from the official vim client are very bad quality, littered with problems and most often abandoned (I tried the ones for Sublime Text, vscode and Atom). This is the issue that supporting LSP solves: editors invest in supporting LSP in general, so any server providing LS will be well-supported.

[2017-11-22 23:24] puremourning commented on #515
My experience of implementing a LSP client is that each client requires intimate knowledge of the server it speaks to. I have tried 5 different servers, and each requires customisation based on its own random behaviours, so I'm honestly not sure that this is entirely viable at this stage.

I'm also not convinced there is appetite within the ycmd maintainers to maintain 2 completely different inter

[2017-11-23 10:47] sztomi commented on #515
Fair enough.

[2017-11-23 11:28] bstaletic commented on #515
I'm definitely not interested in maintaining two interfaces. It's one or the other and I like our current one better.

[2017-11-23 15:54] micbou commented on #874
Implemented by PR https://github.com/Valloric/ycmd/pull/877.

[2017-11-23 15:54] #874 closed

[2017-11-26 17:31] Valloric commented on #515
I'm going to chime in here and say that the main voice for whether LSP support ends up in ycmd would be @puremourning. He has spent a ton of time implementing the protocol so that ycmd can talk to it and he also has years of experience with ycmd itself (being a YCM/ycmd maintainer).

So if he says it's not entirely viable right now, IMO that settles it (at least for now; this can change in the fut

[2017-11-27 17:47] ghost opened #878 "CMake: server mode support"
According to [this mailing list response](https://cmake.org/pipermail/cmake-developers/2017-November/030480.html) by Brad King, one of the core CMake developers,

and was never meant to be a general way to get information.  It has largely
been superseded by dedicated support for specific tools plus the server mode
query information in a more structured way.

Are there any plans for the server mode

[2017-11-30 00:31] tengyft opened #879 "In deepin Linux (based on Debian) doesn't auto complete c/c++ while in Manjaro ycmd does work"
In Deepin linux which is based on Debian, ycmd does not auto complete c/c++ source code. But in Manjaro, ycmd can work well. I want to know why. How to fix it.

[2017-11-30 02:30] bstaletic commented on #879
Can you post ycmd and the client logs?

[2017-11-30 06:41] tengyft commented on #879
2017-11-30 14:32:25,282 - DEBUG - Global extra conf not loaded or no function YcmCorePreload
serving on http://127.0.0.1:35575
2017-11-30 14:32:25,340 - INFO - Received event notification
2017-11-30 14:32:25,340 - DEBUG - Event name: BufferVisit
2017-11-30 14:32:25,405 - INFO - Received event notification
2017-11-30 14:32:25,405 - DEBUG - Event name: FileReadyToParse
2017-11-30 14:32:25,406 - INFO

[2017-11-30 08:37] bstaletic commented on #879
You always need a `.ycm_extra_config.py`.

As you don't have any `.ycm_extra_conf.py` you can't have completions. Manjro probably provided a default one somehow. Check with `:YcmDebugInfo`.

[2017-11-30 08:37] #879 closed

[2017-12-03 01:46] dendisuhubdy opened #881 "Youcompleteme server shutdown"
I keep getting Youcompleteme server shutdown with exit code -6. So I did `YcmRestartServer` but the error keeps coming. I tried to run `./run_tests.py` and [here is the result (too long to paste here on the issue page)](https://gist.github.com/dendisuhubdy/74b3789e8b557e07c589ac933b81c2b6)

[2017-12-03 01:50] puremourning commented on #881
Please can you include the `ycmd` stdout and stderr when the server fails to start? What client are you using?

Btw for the tests you need to run ‘pip install -r test_requirements.txt’. See DEV_SETUP file.

[2017-12-08 10:43] micbou commented on #866
There are a number of issues with your changes:
 - you are parsing the translation unit in the `ShouldUseNowInner` function. In practice, this means that the translation unit will be parsed at each key press. That's not going to work well with big projects. There is also the argument that if we are going to parse the translation unit at each key press, we might as well always use semantic completi

[2017-12-08 10:43] #866 closed

[2017-12-15 20:26] micbou commented on #867
These suggestions are in the `/usr/include` folder (at least `GLES2` and `GLES3`) which is included in your flags. Nothing wrong here.

Works fine for me with the Vim client (using `<C-Space>` to force semantic completion after typing `SDL_`):

![sdl-completion](https://user-images.githubusercontent.com/10026824/34059163-1fe3d7c6-e1de-11e7-8278-231d97989111.gif)
I would suggest to raise an issue o

[2017-12-15 20:26] #867 closed

[2017-12-16 15:47] micbou commented on #881
No answer. Closing.

[2017-12-16 15:47] #881 closed

[2017-12-24 20:22] nilsdeppe opened #892 "ClangCompleter: -include and -include-pch not working"
Hi,

Thanks for the really awesome package!

I recently switched to using precompiled headers in a project (publicly available [here](https://github.com/sxs-collaboration/spectre)) and I now encounter the issue:

[code]

The simplest example that recreates this problem is:

[code]

I can successfully compile the code with:

[code]

The `pch.hpp` file is:

[code]

The flags for the translation unit

[2017-12-25 14:13] micbou commented on #892
Thanks for reporting the issue. I tried your example with the changes in PR #861 and I am getting the following error:
[code]
To confirm this is a libclang issue (and not a ycmd one), I wrote a small program that parses a file with the `-include-pch` flag through the libclang API (version 5.0.1):
[code]
Running this program on your example prints:
[code]
This [error code](https://github.com/llvm-m

[2017-12-25 16:08] nilsdeppe commented on #892
Thanks for the reply! I figured this was really some issue related to AST parsing in libclang. I just dug around a bit in the libclang documentation (relevant section [here](http://clang.llvm.org/doxygen/group__CINDEX.html#ga51eb9b38c18743bf2d824c6230e61f93)) and it looks like the solution is changing the list of flags from:

[code]
to
[code]
I just tested this by changing my `.ycm_extra_conf.py`

[2017-12-25 16:43] micbou commented on #892
I doubt this is doing what you are expecting. [`-Xclang` flags are automatically removed](https://github.com/Valloric/ycmd/blob/4fa81b5f9535c2a9fa37e96adec53abfc1cce133/ycmd/completers/cpp/flags.py#L289-L306) so what you are really doing is removing the `-include-pch` flag.

The example given in the libclang documentation seems wrong. `-include-pch` cannot be used this way:
[code]

[2017-12-25 19:33] nilsdeppe commented on #892
Okay, I just looked through the `flags.py` file and it was just ignoring the flag. I've played around with your libclang example above some more and the following doesn't emit any errors:

[code]

With the example you had I got the diagnostic that the PCH and the code were compiled with different `-std` versions. Unfortunately this doesn't help me make any more sense of why there is an error when

[2017-12-25 20:50] micbou commented on #892
That's it. The compiler used to generate the `pch.hpp.gch` file must match the version of libclang in ycmd.
If ycmd is compiled against libclang 5.0.1, the precompiled header must be generated with Clang 5.0.1 or it won't work (I tried with GCC, Clang 3.8, Clang 4.0.0, and Clang 5.0.0). Which version of libclang are you on?

[2017-12-25 21:27] nilsdeppe commented on #892
Aha! This is interesting. My `clang --version` and the Arch Linux current LLVM is 5.0.1, which naively should be compatible with what ycm downloads (`/home/nils/Research/ycmd/cpp/../clang_archives/clang+llvm-5.0.1-x86_64-linux-gnu-ubuntu-14.04.tar.xz`). However, that doesn't seem to be the case. If I enable `--system-libclang` then everything seems to work fine.

[2017-12-26 00:59] micbou commented on #892
Yes, I can confirm. This makes it even more difficult to use that flag with libclang. I think we should automatically replace it with a `-include` flag and remove the `.gch` (or `.pch`) extension in the filename. For instance, `-include-pch pch.hpp.gch` would become `-include pch.hpp`. Thoughts?

[2017-12-26 05:35] bstaletic commented on #892
Doing such a replace would break if the precompiled header was generated like this:

[code]
Or even worse, because it looks somewhat reasonable:
[code]
And if it was my project, it would be:
[code]

Maybe we should just make an FAQ entry about thiss and call it a day?

[2017-12-26 22:23] Valloric commented on #892
This one is tricky... how about detecting the PCH deser error from libclang and showing an error to the user about using incompatible version of clang/libclang together? We could have the error message refer to a FAQ entry that would have more info.

[2017-12-26 23:18] bstaletic commented on #892
If we can detect that, I think that's a good suggestion.

[2017-12-27 00:55] nilsdeppe commented on #892
Yes, I think disabling PCH, even aside from the scenario that @bstaletic described is not ideal. PCHs help reduce parse time dramatically and so I think taking advantage of that for code completion and syntax checking is important. I think detecting that there is an error due to AST parsing and then providing the user an error messaging pointing to the FAQ is the best thing that could be done, if

[2017-12-27 02:40] puremourning commented on #892
Please note that libclang always generates a PCH internally irrespective of your options. This is to provide significant speed boost when offering completions.

Personally, I think the manual use of PCH includes is sufficiently niche that we can just provide answers via this GitHub issue. The answer is that either:

1. You probably don't need it (libclang already creates a preamble)
2. If you do n

[2017-12-27 03:03] nilsdeppe commented on #892
I have not tried to measure any differences inside ycmd because I've never had any speed troubles with ycmd. Since libclang creates PCHes (which I did not know) then that's not a reason to worry. I don't really have a good feeling for how many projects use PCHes. I think an FAQ entry with a one-liner and linking to this issue would be good. I don't see how this is an overly specialized scenario an

[2017-12-29 11:32] iceonsun commented on #224
https://bitcointalk.org/index.php?topic=304389.0

`free
dd if=/dev/zero of=/var/swap.img bs=1024k count=1000
mkswap /var/swap.img
swapon /var/swap.img
free`
hope this help

[2017-12-31 09:30] kitech opened #893 "default hidden symbol cause hidden PyInit_ycm_core"

[2017-12-31 09:35] bstaletic commented on #893
Yes, but only on boost 1.65. Since ycmd upgraded to 1.66 this isn't an issue.

Are you using `--system-boost`?

[2018-01-01 10:16] kitech commented on #893
yes i'am using system boost 1.65.
thanks

[2018-01-01 10:16] #893 closed

[2018-01-24 20:16] #242 closed